@charset "UTF-8";
@import "vars";	// 変数
@import "functions"; // 関数等
@import "reset"; // スタイルリセット
@import "utilities";	// 便利系スタイル
@import "layout"; // テンプレート部位のレイアウト
/*------------------------------------------------------------
	見出し
------------------------------------------------------------*/

/*------------------------------------------------------------
	ボタン
------------------------------------------------------------*/

/*------------------------------------------------------------
	箇条書き
------------------------------------------------------------*/
.l-wapper{
	width: 1000px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}
/*------------------------------------------------------------
	ioaテキスト調整
------------------------------------------------------------*/
body {
	//-webkit-text-size-adjust: 100%;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}


/****************************************************
	c-title
****************************************************/

	/*-------------------------
	c-title1
	-------------------------*/
	.c-title1{
		text-align: center;
		h2{
			font-size: 3.0rem;
			padding-bottom: 18px;
			display: inline-block;
			letter-spacing: 3.2px;
			border-bottom: 3px solid #000;
			@include sp{
				letter-spacing: 1.6px;
				padding-bottom: 12px;
                font-size: 1.5rem;
                border-bottom: 1.5px solid #000;
            }
		}

		//--------------------
		p{
			margin-top: 40px;
			font-size: 1.4rem;	
			@include sp{
				font-size: 1.1rem;
				margin-top: 30px;
			}		
		}

		//-------------------
		h3{
			font-size: 3.0rem;
			@include sp{
                font-size: 1.5rem;            
            }
		}
	}

	/*-------------------------
    c-titlePoint
    -------------------------*/
    .c-titlePoint{
    	text-align: center;
    	img{
    		margin-bottom: 20px;
    		@include sp{
    			width: 59px;
    			margin-bottom: 12px;
    		}
    	}
    }

    /*-------------------------
    c-title2
    -------------------------*/
    .c-title2{
    	text-align: center;
    	h2{
    		font-size: 3.0rem;
    		display: inline-block;
    		letter-spacing: 4px;
    		position: relative;
    		@include sp{
    			font-size: 1.5rem;
    		}
    		&:after, &:before{
    			top: 2px;
    			right: -30px;
    			content: '';
    			position: absolute;
    			width: 2px;
    			height: 28px;
    			background: #000;
    			transform: rotate(25deg);
    			@include sp{
    				right: -15px;
    				width: 1px;
    				height: 14px;
    			}
    		}
    		&:before{
    			left: -20px;
    			transform: rotate(-25deg);
    			@include sp{
    				left: -15px;
    			}
    		}
    	}
    }

    /*-------------------------
    c-title4
    -------------------------*/
    .c-title4{
    	display: flex;
    	align-items: center;
    	@include sp{
    		justify-content: center;
    		margin-top: 25px;           
    	}
    	h3{
    		font-size: 3.0rem;
    		letter-spacing: 4px;
    		margin-left: 25px;
    		margin-top: 10px;
    		line-height: 1.2;
    		@include sp{
                font-size: 1.5rem;    
                margin-left: 12px; 
                margin-top: 0;      
            }
    	}
    	img{
    		@include sp{
                width: 35px;           
            }
    	}
    }

/****************************************************
	c-button
****************************************************/
	/*-------------------------
    	c-button1
    -------------------------*/
	.c-button1{
		a{
            color: #fff;
            width: 100%;
            padding: 8.5px 10px;
            text-align: center;
            line-height: 1.2;
            font-size: 1.2rem;
            font-weight: bold;
            background: #252523;
            box-sizing: border-box;
            border: 1px solid #969690;
            display: inline-block;
            text-decoration: none;
            position: relative;
            &:before{
                content: '';
                left: 10px;
                top: 50%;
                width: 9px;
                height: 12px;
                position: absolute;
                transform: translate(0, -50%);
                background: url(../img/index/icon_03.png) center no-repeat;
                background-size: 100% 100%;
            }
        }
        span{
            color: #f2c526;
            font-size: 1.711rem;
        }
	}

/****************************************************
	c-text
****************************************************/

	/*-------------------------
    c-text2
    -------------------------*/
    .c-text2{
    	p{
    		font-size: 1.4rem;
    		@include sp{
    			font-size: 1rem;         
    		}
    	}
    }


/****************************************************
	c-list
****************************************************/