@charset "UTF-8";
@import "vars";	// 変数
@import "functions"; // 関数等

/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/

/*------------------------------------------------------------
header PC
------------------------------------------------------------*/
.c-header{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;	
    position: relative;
    @include sp{
        padding: 7px 0;
    }

    // ----------------------------------
	.c-logo{
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		h1{
			font-size: 1.6rem;
			margin-left: 60px;
			font-weight: normal;
		}
	}

    // ----------------------------------
	.c-tell{
		text-align: right;
		span{
			font-size: 1.1rem;
			margin-top: 10px;
			display: inline-block;
		}
	}
}

/*------------------------------------------------------------
header SP
------------------------------------------------------------*/
.c-headerSP{
    .c-tellSP{
        position: absolute;
        top: 0;
        right: 43px;
    }

    // ----------------------------------
    .menu-toggle {
        width: 18px;
        height: 16px;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 13px;
        cursor: pointer;

        .one,
        .two,
        .three{
            width: 100%;
            height: 3px;
            background: #5b3930;
            margin: 3px auto;
            backface-visibility: hidden;
            transition-duration: 0.3s;
        }
      
        &.on {
            .one {
              transform: rotate(45deg) translate(5px, 6px);
            }

            .two {
              opacity: 0;
            }

            .three {
              transform: rotate(-45deg) translate(3px, -3px);
            }
        }
    }

    // ----------------------------------
    .menu-section {
        nav{
        }
        nav ul{
            top: 0;
            right: 0;
            position: absolute;
            width: 76.5%;
            height: 100%;
            background: #fff;
            padding: 65px 0 0;
            list-style: none;
            text-align: left;
            &.hidden {
                display: none;
            } 

            li:first-child{
                a{
                    border-top: 1px solid #dbdbdb;
                }
            }  
             li:first-child{
                a{
                    border-top: 1px solid #dbdbdb;
                }
            } 
            li:last-child{
                margin-top: 46px;
                .c-button1{
                    a{
                        padding: 7px 10px;
                    }
                }
            }   
            a {
                transition-duration: 0.5s;
                padding: 8px 17px;
                text-decoration: none;
                color: #211815;
                font-size: 1.3em;
                line-height: 1.5;
                display: block;
                border-bottom: 1px solid #dbdbdb;
                position: relative;

                &:after{
                    content: '';
                    right: 20px;
                    top: 50%;
                    width: 7px;
                    height: 10px;
                    position: absolute;
                    transform: translate(0, -50%);
                    background: url(../img/index/icon_05.png) center no-repeat;
                    background-size: 100% 100%;
                }
                &:hover {
                    background-color: rgba(0,0,0,0.5);
                    color: #fff;
                }
            }
        }

        &.on {
            top: 0;
            right: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0,0,0,0.2);
            position: fixed;
        }
        //--------------------------------------------------
        .c-button1{
            margin: 5px 18px;
        }
    }
}


/*------------------------------------------------------------
l-content
------------------------------------------------------------*/
.l-content{    

    /*------------------------------------------------------------
    section Key
    ------------------------------------------------------------*/
    .c-stKey{
        position: relative;
        height: 100%;
        width: 100%;
        &__inner{
            display: flex;
            justify-content: center;
            align-items: center;
            background: url(../img/index/key.jpg) center no-repeat;
            background-size: 100% 100%;
            @include sp{
                background-size: cover;
            }
        }

        //---------------------------------
        .copy-point{
            padding: 63px 0 245px;
            text-align: center;
            @include sp{
                padding: 55px 18px 25px;
            }
            &__ttl{
                h2{
                    text-align: center;
                    color: #fff;
                    font-size: 2.254rem;
                    @include sp{
                        font-size: 1.5rem;
                    }
                }
            }
            &__circle{
                margin-top: 40px;
                width: 100%;               
                display: flex;
                justify-content: center;    
                @include sp{
                   margin-top: 30px;
                }     
            }
            .c-circle{
                width: 300px;
                height: 300px;
                border-radius: 300px;
                background: #fff;
                text-align: center;
                font-weight: bold;
                @include sp{
                    width: 150px;
                    height: 150px;
                    border-radius: 150px;
                }
                h2{
                    margin-top: 45px;
                    font-size: 1.377rem;
                    display: inline-block;
                    letter-spacing: 4px;
                    position: relative;
                    @include sp{
                        font-size: 0.9rem;
                        margin-top: 25px;
                        letter-spacing: 0;
                    }
                    &:after, &:before{
                        right: -10px;
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 15px;
                        background: #000;
                        transform: rotate(25deg);
                        @include sp{
                            right: -5;
                            width: 1px;
                            height: 8px;
                        }
                    }
                    &:before{
                        left: -10px;
                        transform: rotate(-25deg);
                        @include sp{
                            left: -5;
                        }
                    }
                }

                .spancolor{
                    margin-top: 10px;
                    padding: 3.5px 14.6px;
                    font-size: 2.43rem;
                    background: #f2c526;
                    display: inline-block;
                    @include sp{
                        margin-top: 5px;
                        padding: 2px 8px;
                        font-size: 1.3rem;
                    }
                }
                .p2736{
                    margin: 10px 0;
                    font-size: 2.736rem;
                    line-height: 1.3;
                    @include sp{
                        margin: 5px 0;
                        font-size: 1.4rem;
                    }
                }
                .p2087{
                    font-size: 2.087rem;
                    @include sp{
                        font-size: 1.1rem;
                    }
                }
            }

            //---------------------------------
            .scroll{
                margin-top: 15px;
                @include sp{
                    margin-top: 0px;
                }
                a{
                    color: #000;
                    font-size: 1.053rem;
                    text-decoration: none;
                    position: relative;
                    display: inline-block;
                    line-height: 1.5;
                    @include sp{
                        font-size: 0.6rem;
                    }
                    &:after{
                        content: '';
                        width: 52px;
                        height: 21px;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, 50%);
                        position: absolute;
                        background: url(../img/index/scroll_down.png)  no-repeat;
                        @include sp{
                            background-size: 50% 50%;
                            transform: translate(-25%, 10%);
                        }
                    }
                }
            }
        }       
    }

     //---------------------------------
        .c-point{
            width: 100%;
            position: absolute;
            margin-top: -195px;
            @include sp{
                margin-top: -12px;  
                margin-bottom: 0;      
            }
            ul{
                width: 100%;
                display: flex;
                justify-content: center;
                @include sp{
                    width: 100%;
                }
            }
            li{
                padding: 0 20px;
                @include sp{
                   padding: 0 4px;
                }
            }
            img{
                @include sp{
                   width: 90px;
                }
            }
            p{
                margin-top: 15px;
                text-align: center;
                color: #fff;
                font-size: 1.2rem;
            }
        }

    /*------------------------------------------------------------
    section 00 cv
    ------------------------------------------------------------*/
    .c-cv{

        //----------------------------------------
    	&__top{
    		padding: 55px 0 150px;
    		background: url(../img/index/img_07.jpg) center no-repeat;
    		background-size: 100% 100%;
            @include sp{
                padding: 50px 18px;
                background: url(../img/index/img_07-sp.jpg) center no-repeat;
                background-size: 100% 100%;
            }
    		.angle-drown{
    			text-align: center;
    		}
    		.c-title2{
    			text-align: left;
    			margin-left: 50px;
    			display: flex;
    			align-items: center;
                @include sp{
                    margin-left: 8px;
                }
                h2{
                    @include sp{
                        font-size: 1.3rem;
                    }
                    &:after, &:before{

                        @include sp{
                            height: 28px;
                        }
                    }
                }
                
    			img{
    				margin-right: 55px;
                    @include sp{
                        width: 20%;
                        margin-right: 28px;
                    }
    			}
    		}
    		.c-banner{
    			margin-top: 25px;
    			margin-left: 5px;
                ul{
                    display: flex;
                    justify-content: flex-start;
                    @include sp{
                        display: block;
                        flex-wrap: wrap;
                    }
                    li{
                        margin-left: 35px;
                        @include sp{
                            margin-bottom: 12px;
                            margin-left: 10px;
                        }
                    }
                }
    			img{
    				@include sp{
                        width: 50%;
                    }
    			}
    		}
    	}

        //----------------------------------------
    	&__bottom{
    		padding: 30px 0 25px;
    		background: #f0ede6;
    		.c-title3{
    			display: flex;
    			align-items: center;
    			justify-content: center;
    			h3{
    				font-size: 2.0rem;
    				margin-left: 15px;
                    @include sp{
                        font-size: 1.4rem;
                        margin-left: 9px;
                    }
    			}
                img{
                    @include sp{
                        width: 13px;
                    }
                }
    		}
    		.btnList{
    			margin-top: 24px;
    			display: flex;
    			align-items: center;
    			margin-left: 30px;
                @include sp{
                    display: block;
                    flex-wrap: wrap;
                    margin-left: 0;
                    padding: 0 18px;
                }
                .c-button1{
                    @include sp{
                       padding: 8px 0;
                    }
                    a{
                        @include sp{
                            font-size: 1.2rem;
                            padding: 13px 10px;
                        }
                        &:before{
                            @include sp{
                                left: 25px;
                            }
                        }
                    }
                    span{
                        @include sp{
                            font-size: 1.4rem;
                        }
                    }
                }
    			.c-btn2{
    				margin-left: 34px;
    				margin-top: 10px;
    			}
    		}
    	}
    }

	/*------------------------------------------------------------
    section 001
    ------------------------------------------------------------*/
    .c-st001{
    	display: flex;
        @include sp{            
            flex-wrap: wrap;
            display: block;
        }

    	//--------------------------
    	&__left{
    		width: 50%;
            @include sp{
                width: 100%;
            }
            img{
    			width: 100%;
    		}
    	}

        //--------------------------
        &__inner{
            height: 50%;
            display: flex;
            align-items: center;

            &--bg{
                background: #f0ede6;
            }
        }

    	//--------------------------
    	&__right{
    		width: 50%;
            @include sp{
                width: 100%;
            }
    	}

        //--------------------------
    	&__text1{
    		padding: 0 50px 0 70px;
    		margin: auto;
            @include sp{                
                width: 100%;
                padding: 35px 18px;
            }
    		.c-text1{
    			margin-top: 49px;
                @include sp{
                    margin-top: 30px;
                }
                p{
    				font-size: 1.5rem;
    				text-align: left;
    				letter-spacing: 1.7px;
                    @include sp{
                        font-size: 1.1rem;
                    }
    			}
    			span{
    				font-weight: bold;
    				letter-spacing: 2.1px;
    				line-height: 2;
    				position: relative;
    				&:after{
    					left: 0;
    					bottom: 0;
    					content: '';
    					height: 7px;
    					width: 95%;
    					z-index: -1;
    					position: absolute;
    					background: #fff57e;
    				}
    			}
    		}
	    }

        //--------------------------
    	&__text2{
            
    		.c-imgText{
    			padding: 0 60px 0 37px;
    			display: flex;
    			align-items: center;
    			justify-content: center;
                @include sp{
                    display: block;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 25px 0 15px;
                }
                &__img{
                    @include sp{
                        display: flex;
                        align-items: center;
                        padding: 0 18px;
                        margin-top: -48px;
                        margin-bottom: 15px;
                    }
                    h2{
                        font-size: 1.5rem;
                        padding-left: 28px;
                    }
                    img{
                        width: 100%;
                        @include sp{
                            width: auto;
                        }
                    }
                }
    			&__txt{
    				padding-left: 24px;
                    @include sp{
                        //width: 100%;
                        padding-left: 0;
                        padding: 0 18px;
                    }
    			}
    			p{
    				font-size: 1.4rem;
    				line-height: 2;
    				letter-spacing: 1px;
                       @media only screen and (max-width: 1300px){
                        font-size: 1.1rem;
                    }
                }
    		}
    	}
	}

	/*------------------------------------------------------------
    section 002
    ------------------------------------------------------------*/
    .c-st002{
        padding: 55px 0;
        @include sp{
            padding: 20px 0 30px;            
        }
    	.c-title1{
            @include sp{
                padding: 0 18px;            
            }
    		p{
    			font-size: 1.6rem;
                line-height: 1.6;
                letter-spacing: 0.5px;
                @include sp{
                    font-size: 1.1rem;
                    text-align: left;
                }
    		}
    	}

        //---------------------------------------------
        .c-slide1{
            margin-top: 65px;
            width: 100%;
            text-align: center;
            @include sp{
                margin-top: 25px;
            }

            &_item{
                margin: 0px 42.5px;
                width: 288px;
                @include sp{
                    width: 194px;
                    margin: 0 20px;
                }
            }

            /*slick-prev,.slick-next*/ 
            .slick-prev,.slick-next{
                position: absolute;
                z-index: 5;
                top: 35%;
                display: block;
                padding: 0;
                width: 21px;
                height: 45px;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;
                @include sp{
                    top: 50%;
                }
            }
            .slick-prev{                
                left:35px;
                background: url(../img/index/icon_prev.png)  no-repeat;
                @include sp{
                    left: 5px;
                    background-size: 50% 50%;
                }               
            }
            .slick-next{                
                right:35px;
                background: url(../img/index/icon_next.png)  no-repeat;
                @include sp{
                    right: 5px;
                    background-size: 50% 50%;
                }
            }
        }

        //---------------------------------------------
        .c-profile3{
            &__ttl{
                margin-bottom: 20px;
                text-align: center;
                @include sp{
                    margin-bottom: 10px;
                }   
                h3{
                    font-size: 1.7rem;
                    line-height: 1.7;
                    @include sp{
                        font-size: 1.3rem;
                    }   
                }
                img{
                    display: inline-block;  
                }
            }
            &__img{
                margin-bottom: 5px;
            }
        }

        //--------------------------
        table{
            width: 100%;
            border-collapse: collapse;
            span{
                color: #fff;
                width: 59px;
                text-align: center;
                padding: 3px 0;
                display: inline-block;
                background: #000;
            }
        }
        th, td{
            font-size: 1.4rem;
            padding-top: 15px;
            text-align: left;
            vertical-align: top;
        }
        td{
            padding-left: 15px;
            line-height: 1.3;
            font-size: 1.5rem;
        }
    }

	/*------------------------------------------------------------
    section 003
    ------------------------------------------------------------*/
    .c-st003{
    	padding: 60px 0 110px;
    	background: #faf8f3;
        @include sp{
            padding: 30px 18px;           
        }

        //--------------------------
    	.c-profile1{
    		margin: 95px 53px 0 67px;
    		display: flex;
    		align-items: center;
            @include sp{
                display: block;
                flex-wrap: wrap;   
                margin: 23px 0;        
            }
    		&__img{
    			padding-left: 54px;
    			border-left: 3px solid #000;
                @include sp{
                    padding-left: 30px;   
                    padding-right: 30px; 
                    border: none;
                    text-align: center;       
                }
    		}
    		&__txt{
    			padding-right: 60px;
                @include sp{
                    padding: 0;           
                }
    		}
    		p{
    			font-size: 1.6rem;
    			line-height: 1.7;
    			padding: 0 0px 0 5px;
    			margin-top: 40px;
    			letter-spacing: 1.4px;
                @include sp{
                    margin-top: 30px;
                    font-size: 1.1rem;           
                }
    		}
    	}
	}

	/*------------------------------------------------------------
    section 004
    ------------------------------------------------------------*/
    .c-st004{
    	padding-bottom: 55px;
        @include sp{
            padding-bottom: 10px;
        }

    	//-------------------------------------------
    	.c-mainTitle{
    		position: relative;
    		width: 100%;
    		height: 100%;
    		&__bg{    					
    			img{
    				width: 100%;
    			}
    		}
    		&__txt{
    			width: 100%;
    			height: 100%;
    			top: -16px;
    			position: absolute;
    			text-align: center;
                @include sp{
                    top: 0;   
                } 
    		}

    		.c-titlePoint{
    			width: 525px;
    			padding: 63px 0 74px;
    			border-bottom-right-radius: 525px;
    			border-bottom-left-radius: 525px;
    			display: inline-block;
    			background-color: rgba(255,255,255,0.5);   
                @include sp{
                    width: 263px;  
                    padding: 22px 0 36px;
                    border-bottom-right-radius: 263px;
                    border-bottom-left-radius: 263px;         
                } 		  			    			
    		}
    	}

    	//---------------------------------------
    	.text15{
    		font-size: 1.5rem;
    		line-height: 1.9;
    		margin-left: 68px;
    		margin-top: 60px;
            @include sp{
                font-size: 1.1rem;   
                margin: 30px 0;
                padding: 0 18px;
                line-height: 1.6;
            }
    	}

        //---------------------------------------
        .c-list2{
            margin-top: 70px;
            overflow: hidden;
            @include sp{
                padding: 0 18px;
                margin-top: 10px;
            }
            ul{
                @include sp{
                    width: 100%; 
                    display: flex;  
                    margin-bottom: 20px;
                }
            }
            &__card{
                width: 275px;
                float: left;                
                box-sizing: border-box;
                @include sp{
                    width: 50%; 
                    float: none; 
                    text-align: center; 
                }
                .ptitle{
                    text-align: center;
                    color: #000;
                    font-size: 1.7rem;
                    height: 55px;
                    line-height: 1.6;
                    margin: 35px 0 10px;
                    letter-spacing: 2px;
                    @include sp{
                        font-size: 1.1rem;   
                        margin: 10px 0;
                        height: 40px;
                    }
                }
                img{
                    padding-left: 20px;
                    @include sp{
                        padding: 0;  
                        width: 70%;
                    }
                }
                p{
                    color: #000;
                    font-size: 1.3rem;
                    line-height: 1.9;
                    letter-spacing: 1.8px;
                    @include sp{
                        font-size: 0.9rem; 
                        text-align: left;
                        letter-spacing: 0;
                    }
                }
                &--1{
                    padding: 0 25px 0 55px;
                    @include sp{
                        padding: 0 10px;  
                    }
                }
                &--2{
                    padding: 0 40px 0 40px;
                    @include sp{
                        padding: 0 10px;  
                    }
                    img{
                        padding-left: 32px;
                        padding-top: 5px;
                        @include sp{
                            padding: 0 0;
                            width: 70%;
                            margin-top: 0;
                        }
                    }
                    .ptitle{
                        margin: 30px 0 10px;
                        @include sp{
                            margin: 10px 0;
                        }
                    }
                }
                &--3{
                    padding: 0 45px 0 35px;
                    @include sp{
                        padding: 0 10px;  
                    }
                    @include sp{
                        float: none;  
                    }
                    img{
                        padding-left: 39px;
                        padding-top: 5px;
                        @include sp{
                            padding: 0;  
                        }
                    }
                    .ptitle{
                        margin: 30px 0 10px;
                        @include sp{
                            margin: 10px 0;
                        }
                    }
                }
                &--4{
                    padding: 0 50px 0 22px;
                    @include sp{
                        padding: 0 10px;  
                    }
                     img{
                        padding-left: 42px;
                        padding-top: 5px;
                        @include sp{
                            padding: 0;  
                        }
                    }
                    .ptitle{
                        margin: 30px 0 7px;
                        font-size: 1.5rem;
                        @include sp{
                            font-size: 1rem;
                            margin: 10px 0;
                        }
                    }
                    p{
                        font-size: 1.1rem;
                        line-height: 2;
                        letter-spacing: 1.5px;
                        @include sp{
                            font-size: 0.9rem;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
	}

	/*------------------------------------------------------------
    section 005
    ------------------------------------------------------------*/
	.c-st005{
		padding-top: 75px;
		background: #e7ebee;
		position: relative;
        @include sp{
            padding-top: 25px;
        }
		&:after{
			content: '';
			position: absolute;
			left: 50%;
			top: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			transform: translate(-50%, 0);
			border-width: 24px 24px 0 24px;
			border-color: #e7ebee transparent transparent transparent;
            @include sp{
               border-width: 12px 12px 0 12px;    
            }
		}

		//----------------------------------------------
		.white-text{
			text-align: center;
			margin: 40px 0 43px;
            @include sp{
                margin: 10px 0 20px;
            }
			h2{
				width: 338px;
				padding: 8.5px 10px;
				font-size: 1.7rem;
				display: inline-block;
				background: #fff;
				border-radius: 35px;
				box-sizing: border-box;
                @include sp{
                    font-size: 0.9rem;
                    width: auto;
                    padding: 4.5px 10px;
                }
			}
		}

		//----------------------------------------------
		.c-main_img{
			text-align: center;
            @include sp{
                padding:  0 18px;
            }
		}
	}

	/*------------------------------------------------------------
    section 006
    ------------------------------------------------------------*/
    .c-st006{
        @include sp{
            padding: 0 18px;           
        }

    	//---------------------------------------------
    	.c-title2{
    		margin: 77px 0 70px;
            @include sp{
                margin: 37px 0;         
            }
    	}

    	//---------------------------------------------
    	.c-Imgtext{
    		margin: 0 132px 85px 120px;
    		display: flex;
    		align-items: center;
            @include sp{
                margin: 0 0 30px; 
                display: block;
                flex-wrap: wrap;           
            }
            &__img{
                display: flex;
                align-items: center;
                .c-img5{
                    width: 50%;
                }
                .c-title5{
                    width: 50%;
                    h3{
                        font-size: 1.215rem;
                    }
                }
            }
    		&__txt{
    			margin-left: 35px;
                @include sp{
                    margin-left: 0;           
                }
    			&--right{
    				margin-left: 0;
    				margin-right: 35px;
                    @include sp{
                        margin-right: 0;           
                    }
    			}
    		}
    		&--imgRight{
    			margin-bottom: 55px;
    			.p2{
    				padding-right: 90px;
                    @include sp{
                        padding-right: 0;          
                    }
    			}
    		}
    		h3{
    			font-size: 2.4rem;
    		}
    		.p1{
    			font-size: 1.5rem;
    			margin: 45px 0 25px;
                @include sp{
                    font-size: 1.2rem;  
                    margin: 18px 0 10px;       
                }
            }
    		.p2{
    			font-size: 1.4rem;
    			line-height: 1.8;
                @include sp{
                    font-size: 1rem;         
                }
    		}
            .img-title{
                display: flex;
                img{
                    width: 50%;
                }
            }
    	}    		
	}

	/*------------------------------------------------------------
    section 007
    ------------------------------------------------------------*/
    .c-st007{
    	padding: 77px 0 74px;
        @include sp{
            padding: 25px 0 20px;
        }
    	.c-QA{
    		padding: 40px 132px 0 120px;
            @include sp{
               padding: 15px 18px 0;           
            }
    	}		
	}

	/*------------------------------------------------------------
    section 008
    ------------------------------------------------------------*/
    .c-st008{
    	padding: 50px 0 64px;
    	background: #f8f8f8;
        @include sp{
           padding: 25px 18px;           
        }
    	.c-list1{
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-top: 70px;
            @include sp{
                margin-top: 35px;           
            }
            li{
                display: flex;
                justify-content: center;
                width: calc(848px/3);
                float: left;
                @include sp{
                    width: calc(100%/2);           
                }
            }
            li:last-child{
                @include sp{
                    float: none; 
                    margin-left: 50%;   
                    transform: translate(-50%, 0);     
                    padding-top: 35px;
                }                
            }
    		&__card{
                width: 257px;
                text-align: center;
                @include sp{
                    width: 100%;           
                }
            }
            &__txt{
    			padding: 0 20px;
    		}
    		p{
    			margin-top: 25px;
                text-align: left;
                font-size: 1.4rem;
                line-height: 1.7;
                @include sp{
                    margin-top: 15px;
                    font-size: 1rem;           
                }
            }
    	}

    	//--------------------------------
    	.c-satisfaction_levels{
    		margin-top: 60px;
    		text-align: center;
    		h2{
    			font-size: 3rem;
    			margin-top: 30px;
    			letter-spacing: 4px;
                @include sp{
                    font-size: 1.5rem;   
                    letter-spacing: 0;    
                }
    		}
    		p{
    			margin: 17px 0 18px;
    			font-size: 1.4rem;
    			line-height: 1.7;
                @include sp{
                    font-size: 1rem;   
                    margin: 15px 0; 
                    line-height: 1.6;  
                }
    		}
            .c-Img1{
                padding: 0 25px;
            }
    	}
	}

	/*------------------------------------------------------------
    section 009
    ------------------------------------------------------------*/
    .c-st009{
    	margin-top: 60px;
        @include sp{
            margin-top: 28px;  
            margin-bottom: 50px;   
        }
        //------------------------------------------
    	.c-voice{
    		margin: 90px 132px 38px 120px;
    		display: flex;
    		border-bottom: 1px solid #e3e3e3;
            @include sp{
                display: block;
                margin: 20px 0 0; 
                flex-wrap: wrap;    
                padding: 0 18px;   
                border: none;   
            }
            &__img{
               @include sp{
                   display: flex;
                   justify-content: center;       
                }
            }
    		&__txt{
    			margin-top: 20px;
    			margin-left: 50px;
                @include sp{
                    margin-left: 0;        
                }
    		}
    		h3{
    			font-size: 1.6rem;
                @include sp{
                    font-size: 1rem;         
                }
    			span{
    				color: #ff6767;
    			}
    		}

    		&--no-border{
    			border: none;
    			margin-bottom: 28px;
                @include sp{
                    margin-bottom: 0px;      
                }
    		}
    	}

        //------------------------------------------
    	.c-listQA{
    		margin-top: 30px;
            @include sp{
                margin-top: 15px;       
            }
    		&__card{
    			padding-bottom: 30px;
                @include sp{
                   padding-bottom: 15px;   
                }
    		}
    		h4{
    			font-size: 1.6rem;
    			line-height: 1;
                @include sp{
                    font-size: 1.2rem;        
                }
    		}
    		.q-brown{
    			color: #fff;
    			border-radius: 40px;
    			background: #7f634c;
    			padding: 3px 12px;
    			display: inline-block;
    			margin-right: 10px;
                @include sp{
                    padding: 1.5px 6px;
                    margin-right: 5px;       
                }
    		}
    		p{
    			margin-top: 10px;
    			font-size: 1.1rem;
    			line-height: 1.8;
    			letter-spacing: 0.5px;
                @include sp{
                    font-size: 0.9rem; 
                    margin-top: 5px;         
                }
            }
    	}

        //------------------------------------------
        .c-slider02{
            width: 100%; 
            display: none;  
            @include sp{
               display: block;      
            }        

            &_item{
                width: 100%;
            }

            /*slick-prev,.slick-next*/ 
            .slick-prev,.slick-next{
                position: absolute;
                z-index: 5;
                top: 100px;
                display: block;
                padding: 0;
                width: 21px;
                height: 45px;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;
            }
            .slick-prev{                
                left:10px;
                background: url(../img/index/icon_prev.png)  no-repeat;                
                background-size: 50% 50%;                               
            }
            .slick-next{                
                right: -10px;
                transform: translate(-50%, 0);
                background: url(../img/index/icon_next.png)  no-repeat;
                background-size: 50% 50%;
            }
        }
    }

    /*------------------------------------------------------------
    section 010
    ------------------------------------------------------------*/
    .c-st010{
    	background: #e7ebee;
    }

    /*------------------------------------------------------------
    CAMPAIGN
    ------------------------------------------------------------*/
    .c-campaign{
        width: 878px;
        padding: 48px 0 58px;  
        margin: auto;
        @include sp{
            width: 100%; 
            padding: 25px 0 20px;          
        }       

        //----------------------------------------------------
        .c-slide01{
            width: 100%;
            margin: auto ;
            text-align: center;
            position: relative;
            @include sp{
                //width: 100%;           
            }
            &__item{
                width: 100%;
                height: 100%;
                display: flex !important;
                justify-content: center;
                align-items: center;
                h3{
                    font-size: 1.5rem;
                    color: #fff;
                }
            }

            /*slick-prev,.slick-next*/ 
             .slick-prev,.slick-next{
                position: absolute;
                z-index: 5;
                top: 35%;
                display: block;
                padding: 0;
                width: 21px;
                height: 45px;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;
                @include sp{
                    top: 45%;
                }
            }
            .slick-prev{                
                left:35px;
                background: url(../img/index/icon_prev.png)  no-repeat;
                @include sp{
                    left: 5px;
                    background-size: 50% 50%;
                }               
            }
            .slick-next{                
                right:35px;
                background: url(../img/index/icon_next.png)  no-repeat;
                @include sp{
                    right: 5px;
                    background-size: 50% 50%;
                }
            }
        }

        //----------------------------------------------------
        .c-title1{
            @include sp{
                padding: 0 40px;         
            }
        }

    	//----------------------------------------------------
    	.c-profile2{
    		margin-top: 35px;
    		width: 252px;
            position: relative; 
            @include sp{
                margin-top: 20px;        
            }
            &__img{
                @include sp{
                    padding: 0 30px; 
                }
            }
    		&__txt{
    			margin-top: 10px;                
    		}
    		table{
    			width: 100%;
    			border-collapse: collapse;
    			span{
    				color: #fff;
    				width: 59px;
    				text-align: center;
    				padding: 4px 0;
    				display: inline-block;
    				background: #000;
                    @include sp{
                        width: 50px;
                        padding: 3.5px 0;
                    }
    			}
    		}
    		th, td{
    			font-size: 1.2rem;
    			padding-top: 15px;
    			text-align: left;
    			vertical-align: top;
                @include sp{
                    font-size: 0.908rem;
                    padding-top: 13px;
                }
    		}
    		td{
    			padding-left: 10px;
    			line-height: 1.8;
    		}    		
    	} 

    	//----------------------------------------------------
    	.c-button1{
    		margin-top: 15px;
            @include sp{
                padding: 0 5px;
            }
    		a{
    			padding: 6.5px 10px;
    			font-size: 1.361rem;
                @include sp{
                    font-size: 1.34rem;
                    padding: 14px 10px;
                }
    			&:before{
    				left: 14px;
    				width: 13px;
    				height: 17px;
    			}
                .fz1361{
                    color: #fff;
                    font-size: 1.361rem;
                    @include sp{
                        font-size: 1.34rem;
                    }
                }
    		}
            span{
                @include sp{
                    font-size: 1.925rem;
                }
            }
    	}

    	//----------------------------------------------------
    	.text12{
    		padding: 15px 0 0;
    		font-size: 1.2rem;
    		text-align: right;
            @include sp{
                text-align: right;
                padding: 15px 30px;
            }
    	}	
    }	

	/*------------------------------------------------------------
    section 011
    ------------------------------------------------------------*/
    .c-st011{
    	background-color: rgba(208,208,208, 0.74);
    	padding: 170px 0 95px;
        @include sp{
            background: #fff;
            padding: 0;
        }

        //----------------------------------------------
    	.c-title1{
            @include sp{
                padding: 85px 0 65px;
                background-color: rgba(208,208,208, 0.74);
            }
    		h2{
    			color: #fff;
    			border: none;
    			display: block;
                @include sp{
                    font-size: 1.7rem; 
                    padding: 0 18px; 
                }
    		}
    		img{
    			margin-top: 20px;
                @include sp{
                    margin-top: 10px;
                }
    		}
    	}

        //----------------------------------------------
    	.c-text2{
    		margin-top: 60px;
    		text-align: center;
            @include sp{
                margin-top: 30px;
                text-align: left;
            }
    		p{
    			color: #fff;
    			line-height: 2;
                @include sp{
                    color: #000;
                    font-size: 1.1rem;
                    padding: 0 18px;
                }
    		}
    	}
    }

    /*------------------------------------------------------------
    section 012
    ------------------------------------------------------------*/
    .c-st012{
    	padding: 90px 0;
        @include sp{
            padding: 60px 18px 25px;        
        }

        //---------------------------------------------
        .c-list1{
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-top: 80px;
            @include sp{
                margin-top: 40px;           
            }
            li{
                display: flex;
                justify-content: center;
                float: left;
                @include sp{
                    width: calc(100%/2);           
                }
            }
            li:last-child{
                @include sp{
                    float: none; 
                    margin-left: 50%;   
                    transform: translate(-50%, 0);     
                    padding-top: 30px;
                }                
            }
            &__card{
                width: 161px;
                text-align: center;
                margin: 0 30px;
                @include sp{
                    width: 100%;
                    margin: 0 10px;           
                }
            }
            &__txt{
                padding-top: 20px;
                @include sp{
                    padding-top: 15px;          
                }
            }
            h3{
               color: #694731;
               font-size: 2rem;
               text-align: center;
               @include sp{
                    font-size: 1.5rem;          
                }
            }
            p{
                text-align: left;
                font-size: 1.2rem;
                line-height: 1.7;
                margin-top: 30px;
                @include sp{
                    margin-top: 10px;
                    font-size: 1rem;           
                }
            }
        }   	
    }

    /*------------------------------------------------------------
    section form
    ------------------------------------------------------------*/
    .c-form{
        padding: 100px 0 0;

        //---------------------------------------

        form{
            width: 550px;
            margin: 50px auto;

            //-----------------------------------
            .txtform {
                width: 550px;
                display: inline-block;
                border: 1px solid #c8c8c8;
                box-sizing: border-box;
                overflow-y: scroll;
                height: 170px;
                padding: 20px;
                resize: none; 
                p{
                    font-size: 1.2rem;
                    line-height: 2.1;
                }
                h2{
                    margin-top: 30px;
                    font-size: 1.4rem;
                }
            }

            //-----------------------------------
            th, td{
                text-align: left;
                vertical-align: top;
                box-sizing: border-box;
            }
            th{
                padding: 10px 0;
                width: 220px;
                font-size: 1.6rem;
                span{
                    padding-left: 30px;
                    position: relative;
                    &:before{
                        left: 0px;
                        content: '';
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        background: url(../img/index/icon_04.png) center no-repeat;
                    }
                }
            }
            td{
                padding: 10px 0;
            }

            //-----------------------------------
            .address{
               display: flex;
               label{
                padding: 10px 0;
                width: 90px;
                font-size: 1.3rem;
               }
                select{
                    width: 100%;
                    height: 33px;
                    padding: 5px;
                    box-sizing: border-box;
                }
                .span12 {
                    padding-top: 10px;
                }
            }

            //-----------------------------------           
            .taleft{
                text-align: right;
            }

            //-----------------------------------
            .in1{
                width: 100%;
                height: 33px;
                padding: 5px;
                box-sizing: border-box;
            }

            //-----------------------------------
            textarea{
                margin-top: 10px;
                width: 100%;
                height: 170px;
            }

            //-----------------------------------
            .span12{
                margin-left: 20px;
                font-size: 1.2rem;
                text-align: right;
                display: inline-block;
            }

            //-----------------------------------
            .check_box1{
                padding: 0 20px;
                display: flex;
                li{
                    font-size: 1.4rem;
                    margin-right: 25px;
                }
            }

            //-----------------------------------
            .check_box2{
                padding: 20px;
                background: #fff2f2;
                li{
                    font-size: 1.3rem;
                    margin: 5px 0;
                }
            }

            //-----------------------------------
            .check_list{
                display: flex;
                font-size: 1.4rem;
                justify-content: space-between;
            }

            //-----------------------------------
            .btn{
                margin-top: 70px;
                a{
                    color: #fff;
                    width: 100%;
                    height: 75px;
                    line-height: 75px;
                    padding: 0 10px;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: bold;
                    background: #252523;
                    box-sizing: border-box;
                    border: 1px solid #969690;
                    display: inline-block;
                    text-decoration: none;
                    position: relative;
                    &:before{
                        content: '';
                        left: 50px;
                        top: 50%;
                        width: 18px;
                        height: 24px;
                        position: absolute;
                        transform: translate(0, -50%);
                        background: url(../img/index/icon_03.png) center no-repeat;
                        background-size: 100% 100%;
                    }
                }
                span{
                    color: #f2c526;
                    font-size: 2.6rem;
                }
            }
        }
    }
}

/* Accordion style
------------------------------------------------------------*/
.c-accordion {
	margin-top: 50px;
	list-style: none;
    @include sp{
        margin-top: 20px;
    }

	//------------------------------------------
	&--headline {
		transition: .3s ease;
		position:relative;
		display: flex;
		align-items: center;
		background: #f6f6f6;
		h3{
			font-size: 2.1rem;
			letter-spacing: 2.2px;
			@include sp{
				font-size: 1.05rem;
                letter-spacing: 0;
			}
		}
        img{
            @include sp{
                width: 38px;
            }
        }

		&::before,
		&::after {
			content: "";
			width: 21px;
			height: 2px;
			background: #000;
			position: absolute;
			display: block;
			top: 50%;
			right: 15px;
			transform: translate(-50%,-50%) rotate(0deg);
			transition: .3s ease;
			@include sp{
                width: 10.5px;
                height: 1px;
				right: 10px;
			}
		}

		&::after {
			transform: translate(-50%,-50%) rotate(90deg);
		}
		.open > & {
			&::before {
				transform: translate(-50%,-50%) rotate(180deg);
			}
			&::after {
				transform: translate(-50%,-50%) rotate(360deg);
			}
		}
	}

	//------------------------------------------
	&--content {
		display: none;
		padding: 30px 35px 15px;
		@include sp{
			padding: 25px 0 30px;
		}
		p{
			font-size: 1.5rem;
			line-height: 2;
			letter-spacing: 1.5px;
			@include sp{
				font-size: 1rem;
                line-height: 1.7;
			}
		}		
	}

	//------------------------------------------
	li {
		margin-bottom: 20px;
        @include sp{
            margin-bottom: 5px;
        }
	}
}


/*------------------------------------------------------------
footer
------------------------------------------------------------*/
footer{
    position: relative;

    //-----------------------------------
    .scroll-top {
        text-align: right;             
        @include sp{
            position: absolute;
            bottom: 20px;
            right: 18px;  
        }  
        a{
            display: inline-block;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{

            }
        }
    }

    //-----------------------------------
    .c-footer{
        padding: 55px 0;
        text-align: center;
        border-top: 1px solid #cdcdcd;
        @include sp{
            padding: 20px 0 120px;
        }
        &__logo{
            margin-bottom: 65px;
            @include sp{
                margin-bottom: 10px;
            }
        }
        &__copy{
            p{
                font-size: 1.4rem;
                @include sp{
                    margin-bottom: 10px;
                    font-size: 1rem;
                }
            }
        }
    }
}