@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	width: 100%;
	height: 100%;
	
	// PC display a minimum fixed width
	min-width: 1100px;
	margin: 0 auto;
	padding: 0;
	@include sp{
		min-width: 320px;
	}
	
}

.l-container{
    width: 1100px;
    margin: 0 auto;    
    @include sp{
        //width: 100%;
        width: auto;
    }
}