/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{
	width: 100%;
	h2{		
		padding: 46px 0;	
		text-align: center;	
		background-color: rgb(229, 229, 229);
		@include sp{
			padding: 22px 0;
		}
	}
}