/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* Accordion style
------------------------------------------------------------*/
.accordion {
	list-style: none;
	padding: 0;

	//------------------------------------------
	&--headline:hover{
		&::before,
		&::after {
			content: "";
			width: 20px;
			height: 3px;
			background: #069d8f;
			position: absolute;
			display: block;
			top: 50%;
			right: 10px;
			transform: translate(-50%,-50%) rotate(0deg);
			transition: .3s ease;
			@include sp{
				right: -10px;
			}
		}
		&::after {
			transform: translate(-50%,-50%) rotate(90deg);
		}
	}

	//------------------------------------------
	&--headline {
		
		transition: .3s ease;
		position:relative;
		h3{
			font-size: 1.6rem;
			padding: 18px 60px 18px 0;
			letter-spacing: 0.8px;
			@include sp{
				font-size: 1.4rem;
				padding: 15px 40px 15px 0;
			}
		}

		&::before,
		&::after {
			content: "";
			width: 20px;
			height: 3px;
			background: #c9c9c9;
			position: absolute;
			display: block;
			top: 50%;
			right: 10px;
			transform: translate(-50%,-50%) rotate(0deg);
			transition: .3s ease;
			@include sp{
				right: -10px;
			}
		}

		&::after {
			transform: translate(-50%,-50%) rotate(90deg);
		}
		.open > & {
			&::before {
				transform: translate(-50%,-50%) rotate(180deg);
			}
			&::after {
				transform: translate(-50%,-50%) rotate(360deg);
			}
		}
	}

	//------------------------------------------
	&--content {
		display: none;
		padding-bottom: 20px;
		@include sp{
			padding-bottom: 15px;
		}
		p{
			color: #6c6c6d;
			font-size: 1.4rem;
			@include sp{
				font-size: 1.2rem;
			}
		}
		span{
			font-weight: bold;
		}		
	}

	//------------------------------------------
	li {
		border-top: 1px solid #e5e5e5;
	}
	.last{
		border-bottom: 1px solid #e5e5e5;
	}
} 