//baseWidth
$baseWidth:780px;

// Breakpoint
$breakpoint1:768px;
$breakpoint2:480px;

// Common Colors
//$color1:#;
//$color2:#;
//$color3:#;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;