@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  width: 100%;
  height: 100%;
  min-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: auto;
  }
}

/*------------------------------------------------------------
	見出し
------------------------------------------------------------*/
/*------------------------------------------------------------
	ボタン
------------------------------------------------------------*/
/*------------------------------------------------------------
	箇条書き
------------------------------------------------------------*/
.l-wapper {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-wapper {
    width: 100%;
  }
}

/*------------------------------------------------------------
	ioaテキスト調整
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

/****************************************************
	c-title
****************************************************/
/*-------------------------
	c-title1
	-------------------------*/
.c-title1 {
  text-align: center;
}

.c-title1 h2 {
  font-size: 3.0rem;
  padding-bottom: 18px;
  display: inline-block;
  letter-spacing: 3.2px;
  border-bottom: 3px solid #000;
}

@media screen and (max-width: 768px) {
  .c-title1 h2 {
    letter-spacing: 1.6px;
    padding-bottom: 12px;
    font-size: 1.5rem;
    border-bottom: 1.5px solid #000;
  }
}

.c-title1 p {
  margin-top: 40px;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .c-title1 p {
    font-size: 1.1rem;
    margin-top: 30px;
  }
}

.c-title1 h3 {
  font-size: 3.0rem;
}

@media screen and (max-width: 768px) {
  .c-title1 h3 {
    font-size: 1.5rem;
  }
}

/*-------------------------
    c-titlePoint
    -------------------------*/
.c-titlePoint {
  text-align: center;
}

.c-titlePoint img {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-titlePoint img {
    width: 59px;
    margin-bottom: 12px;
  }
}

/*-------------------------
    c-title2
    -------------------------*/
.c-title2 {
  text-align: center;
}

.c-title2 h2 {
  font-size: 3.0rem;
  display: inline-block;
  letter-spacing: 4px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-title2 h2 {
    font-size: 1.5rem;
  }
}

.c-title2 h2:after, .c-title2 h2:before {
  top: 2px;
  right: -30px;
  content: '';
  position: absolute;
  width: 2px;
  height: 28px;
  background: #000;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}

@media screen and (max-width: 768px) {
  .c-title2 h2:after, .c-title2 h2:before {
    right: -15px;
    width: 1px;
    height: 14px;
  }
}

.c-title2 h2:before {
  left: -20px;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@media screen and (max-width: 768px) {
  .c-title2 h2:before {
    left: -15px;
  }
}

/*-------------------------
    c-title4
    -------------------------*/
.c-title4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-title4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
}

.c-title4 h3 {
  font-size: 3.0rem;
  letter-spacing: 4px;
  margin-left: 25px;
  margin-top: 10px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .c-title4 h3 {
    font-size: 1.5rem;
    margin-left: 12px;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-title4 img {
    width: 35px;
  }
}

/****************************************************
	c-button
****************************************************/
/*-------------------------
    	c-button1
    -------------------------*/
.c-button1 a {
  color: #fff;
  width: 100%;
  padding: 8.5px 10px;
  text-align: center;
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: bold;
  background: #252523;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #969690;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.c-button1 a:before {
  content: '';
  left: 10px;
  top: 50%;
  width: 9px;
  height: 12px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/index/icon_03.png) center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.c-button1 span {
  color: #f2c526;
  font-size: 1.711rem;
}

/****************************************************
	c-text
****************************************************/
/*-------------------------
    c-text2
    -------------------------*/
.c-text2 p {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .c-text2 p {
    font-size: 1rem;
  }
}

/****************************************************
	c-list
****************************************************/
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
/*------------------------------------------------------------
header PC
------------------------------------------------------------*/
.c-header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-header {
    padding: 7px 0;
  }
}

.c-header .c-logo {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-header .c-logo h1 {
  font-size: 1.6rem;
  margin-left: 60px;
  font-weight: normal;
}

.c-header .c-tell {
  text-align: right;
}

.c-header .c-tell span {
  font-size: 1.1rem;
  margin-top: 10px;
  display: inline-block;
}

/*------------------------------------------------------------
header SP
------------------------------------------------------------*/
.c-headerSP .c-tellSP {
  position: absolute;
  top: 0;
  right: 43px;
}

.c-headerSP .menu-toggle {
  width: 18px;
  height: 16px;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.c-headerSP .menu-toggle .one,
.c-headerSP .menu-toggle .two,
.c-headerSP .menu-toggle .three {
  width: 100%;
  height: 3px;
  background: #5b3930;
  margin: 3px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.c-headerSP .menu-toggle.on .one {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
      -ms-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.c-headerSP .menu-toggle.on .two {
  opacity: 0;
}

.c-headerSP .menu-toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(3px, -3px);
      -ms-transform: rotate(-45deg) translate(3px, -3px);
          transform: rotate(-45deg) translate(3px, -3px);
}

.c-headerSP .menu-section nav ul {
  top: 0;
  right: 0;
  position: absolute;
  width: 76.5%;
  height: 100%;
  background: #fff;
  padding: 65px 0 0;
  list-style: none;
  text-align: left;
}

.c-headerSP .menu-section nav ul.hidden {
  display: none;
}

.c-headerSP .menu-section nav ul li:first-child a {
  border-top: 1px solid #dbdbdb;
}

.c-headerSP .menu-section nav ul li:first-child a {
  border-top: 1px solid #dbdbdb;
}

.c-headerSP .menu-section nav ul li:last-child {
  margin-top: 46px;
}

.c-headerSP .menu-section nav ul li:last-child .c-button1 a {
  padding: 7px 10px;
}

.c-headerSP .menu-section nav ul a {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 8px 17px;
  text-decoration: none;
  color: #211815;
  font-size: 1.3em;
  line-height: 1.5;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.c-headerSP .menu-section nav ul a:after {
  content: '';
  right: 20px;
  top: 50%;
  width: 7px;
  height: 10px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/index/icon_05.png) center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.c-headerSP .menu-section nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.c-headerSP .menu-section.on {
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.c-headerSP .menu-section .c-button1 {
  margin: 5px 18px;
}

/*------------------------------------------------------------
l-content
------------------------------------------------------------*/
.l-content {
  /*------------------------------------------------------------
    section Key
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 00 cv
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 001
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 002
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 003
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 004
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 005
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 006
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 007
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 008
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 009
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 010
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    CAMPAIGN
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 011
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section 012
    ------------------------------------------------------------*/
  /*------------------------------------------------------------
    section form
    ------------------------------------------------------------*/
}

.l-content .c-stKey {
  position: relative;
  height: 100%;
  width: 100%;
}

.l-content .c-stKey__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/index/key.jpg) center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey__inner {
    -webkit-background-size: cover;
            background-size: cover;
  }
}

.l-content .c-stKey .copy-point {
  padding: 63px 0 245px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point {
    padding: 55px 18px 25px;
  }
}

.l-content .c-stKey .copy-point__ttl h2 {
  text-align: center;
  color: #fff;
  font-size: 2.254rem;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point__ttl h2 {
    font-size: 1.5rem;
  }
}

.l-content .c-stKey .copy-point__circle {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point__circle {
    margin-top: 30px;
  }
}

.l-content .c-stKey .copy-point .c-circle {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: #fff;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
}

.l-content .c-stKey .copy-point .c-circle h2 {
  margin-top: 45px;
  font-size: 1.377rem;
  display: inline-block;
  letter-spacing: 4px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle h2 {
    font-size: 0.9rem;
    margin-top: 25px;
    letter-spacing: 0;
  }
}

.l-content .c-stKey .copy-point .c-circle h2:after, .l-content .c-stKey .copy-point .c-circle h2:before {
  right: -10px;
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  background: #000;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle h2:after, .l-content .c-stKey .copy-point .c-circle h2:before {
    right: -5;
    width: 1px;
    height: 8px;
  }
}

.l-content .c-stKey .copy-point .c-circle h2:before {
  left: -10px;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle h2:before {
    left: -5;
  }
}

.l-content .c-stKey .copy-point .c-circle .spancolor {
  margin-top: 10px;
  padding: 3.5px 14.6px;
  font-size: 2.43rem;
  background: #f2c526;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle .spancolor {
    margin-top: 5px;
    padding: 2px 8px;
    font-size: 1.3rem;
  }
}

.l-content .c-stKey .copy-point .c-circle .p2736 {
  margin: 10px 0;
  font-size: 2.736rem;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle .p2736 {
    margin: 5px 0;
    font-size: 1.4rem;
  }
}

.l-content .c-stKey .copy-point .c-circle .p2087 {
  font-size: 2.087rem;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .c-circle .p2087 {
    font-size: 1.1rem;
  }
}

.l-content .c-stKey .copy-point .scroll {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .scroll {
    margin-top: 0px;
  }
}

.l-content .c-stKey .copy-point .scroll a {
  color: #000;
  font-size: 1.053rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .scroll a {
    font-size: 0.6rem;
  }
}

.l-content .c-stKey .copy-point .scroll a:after {
  content: '';
  width: 52px;
  height: 21px;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  position: absolute;
  background: url(../img/index/scroll_down.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .l-content .c-stKey .copy-point .scroll a:after {
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%;
    -webkit-transform: translate(-25%, 10%);
        -ms-transform: translate(-25%, 10%);
            transform: translate(-25%, 10%);
  }
}

.l-content .c-point {
  width: 100%;
  position: absolute;
  margin-top: -195px;
}

@media screen and (max-width: 768px) {
  .l-content .c-point {
    margin-top: -12px;
    margin-bottom: 0;
  }
}

.l-content .c-point ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-point ul {
    width: 100%;
  }
}

.l-content .c-point li {
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .l-content .c-point li {
    padding: 0 4px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-point img {
    width: 90px;
  }
}

.l-content .c-point p {
  margin-top: 15px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.l-content .c-cv__top {
  padding: 55px 0 150px;
  background: url(../img/index/img_07.jpg) center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top {
    padding: 50px 18px;
    background: url(../img/index/img_07-sp.jpg) center no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
  }
}

.l-content .c-cv__top .angle-drown {
  text-align: center;
}

.l-content .c-cv__top .c-title2 {
  text-align: left;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-title2 {
    margin-left: 8px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-title2 h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-title2 h2:after, .l-content .c-cv__top .c-title2 h2:before {
    height: 28px;
  }
}

.l-content .c-cv__top .c-title2 img {
  margin-right: 55px;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-title2 img {
    width: 20%;
    margin-right: 28px;
  }
}

.l-content .c-cv__top .c-banner {
  margin-top: 25px;
  margin-left: 5px;
}

.l-content .c-cv__top .c-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-banner ul {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.l-content .c-cv__top .c-banner ul li {
  margin-left: 35px;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-banner ul li {
    margin-bottom: 12px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__top .c-banner img {
    width: 50%;
  }
}

.l-content .c-cv__bottom {
  padding: 30px 0 25px;
  background: #f0ede6;
}

.l-content .c-cv__bottom .c-title3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-content .c-cv__bottom .c-title3 h3 {
  font-size: 2.0rem;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .c-title3 h3 {
    font-size: 1.4rem;
    margin-left: 9px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .c-title3 img {
    width: 13px;
  }
}

.l-content .c-cv__bottom .btnList {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .btnList {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    padding: 0 18px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .btnList .c-button1 {
    padding: 8px 0;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .btnList .c-button1 a {
    font-size: 1.2rem;
    padding: 13px 10px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .btnList .c-button1 a:before {
    left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-cv__bottom .btnList .c-button1 span {
    font-size: 1.4rem;
  }
}

.l-content .c-cv__bottom .btnList .c-btn2 {
  margin-left: 34px;
  margin-top: 10px;
}

.l-content .c-st001 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: block;
  }
}

.l-content .c-st001__left {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__left {
    width: 100%;
  }
}

.l-content .c-st001__left img {
  width: 100%;
}

.l-content .c-st001__inner {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-content .c-st001__inner--bg {
  background: #f0ede6;
}

.l-content .c-st001__right {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__right {
    width: 100%;
  }
}

.l-content .c-st001__text1 {
  padding: 0 50px 0 70px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text1 {
    width: 100%;
    padding: 35px 18px;
  }
}

.l-content .c-st001__text1 .c-text1 {
  margin-top: 49px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text1 .c-text1 {
    margin-top: 30px;
  }
}

.l-content .c-st001__text1 .c-text1 p {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 1.7px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text1 .c-text1 p {
    font-size: 1.1rem;
  }
}

.l-content .c-st001__text1 .c-text1 span {
  font-weight: bold;
  letter-spacing: 2.1px;
  line-height: 2;
  position: relative;
}

.l-content .c-st001__text1 .c-text1 span:after {
  left: 0;
  bottom: 0;
  content: '';
  height: 7px;
  width: 95%;
  z-index: -1;
  position: absolute;
  background: #fff57e;
}

.l-content .c-st001__text2 .c-imgText {
  padding: 0 60px 0 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text2 .c-imgText {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 25px 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text2 .c-imgText__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 18px;
    margin-top: -48px;
    margin-bottom: 15px;
  }
}

.l-content .c-st001__text2 .c-imgText__img h2 {
  font-size: 1.5rem;
  padding-left: 28px;
}

.l-content .c-st001__text2 .c-imgText__img img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text2 .c-imgText__img img {
    width: auto;
  }
}

.l-content .c-st001__text2 .c-imgText__txt {
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st001__text2 .c-imgText__txt {
    padding-left: 0;
    padding: 0 18px;
  }
}

.l-content .c-st001__text2 .c-imgText p {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1300px) {
  .l-content .c-st001__text2 .c-imgText p {
    font-size: 1.1rem;
  }
}

.l-content .c-st002 {
  padding: 55px 0;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 {
    padding: 20px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-title1 {
    padding: 0 18px;
  }
}

.l-content .c-st002 .c-title1 p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-title1 p {
    font-size: 1.1rem;
    text-align: left;
  }
}

.l-content .c-st002 .c-slide1 {
  margin-top: 65px;
  width: 100%;
  text-align: center;
  /*slick-prev,.slick-next*/
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-slide1 {
    margin-top: 25px;
  }
}

.l-content .c-st002 .c-slide1_item {
  margin: 0px 42.5px;
  width: 288px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-slide1_item {
    width: 194px;
    margin: 0 20px;
  }
}

.l-content .c-st002 .c-slide1 .slick-prev, .l-content .c-st002 .c-slide1 .slick-next {
  position: absolute;
  z-index: 5;
  top: 35%;
  display: block;
  padding: 0;
  width: 21px;
  height: 45px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-slide1 .slick-prev, .l-content .c-st002 .c-slide1 .slick-next {
    top: 50%;
  }
}

.l-content .c-st002 .c-slide1 .slick-prev {
  left: 35px;
  background: url(../img/index/icon_prev.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-slide1 .slick-prev {
    left: 5px;
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%;
  }
}

.l-content .c-st002 .c-slide1 .slick-next {
  right: 35px;
  background: url(../img/index/icon_next.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-slide1 .slick-next {
    right: 5px;
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%;
  }
}

.l-content .c-st002 .c-profile3__ttl {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-profile3__ttl {
    margin-bottom: 10px;
  }
}

.l-content .c-st002 .c-profile3__ttl h3 {
  font-size: 1.7rem;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .l-content .c-st002 .c-profile3__ttl h3 {
    font-size: 1.3rem;
  }
}

.l-content .c-st002 .c-profile3__ttl img {
  display: inline-block;
}

.l-content .c-st002 .c-profile3__img {
  margin-bottom: 5px;
}

.l-content .c-st002 table {
  width: 100%;
  border-collapse: collapse;
}

.l-content .c-st002 table span {
  color: #fff;
  width: 59px;
  text-align: center;
  padding: 3px 0;
  display: inline-block;
  background: #000;
}

.l-content .c-st002 th, .l-content .c-st002 td {
  font-size: 1.4rem;
  padding-top: 15px;
  text-align: left;
  vertical-align: top;
}

.l-content .c-st002 td {
  padding-left: 15px;
  line-height: 1.3;
  font-size: 1.5rem;
}

.l-content .c-st003 {
  padding: 60px 0 110px;
  background: #faf8f3;
}

@media screen and (max-width: 768px) {
  .l-content .c-st003 {
    padding: 30px 18px;
  }
}

.l-content .c-st003 .c-profile1 {
  margin: 95px 53px 0 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st003 .c-profile1 {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 23px 0;
  }
}

.l-content .c-st003 .c-profile1__img {
  padding-left: 54px;
  border-left: 3px solid #000;
}

@media screen and (max-width: 768px) {
  .l-content .c-st003 .c-profile1__img {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    text-align: center;
  }
}

.l-content .c-st003 .c-profile1__txt {
  padding-right: 60px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st003 .c-profile1__txt {
    padding: 0;
  }
}

.l-content .c-st003 .c-profile1 p {
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 0 0px 0 5px;
  margin-top: 40px;
  letter-spacing: 1.4px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st003 .c-profile1 p {
    margin-top: 30px;
    font-size: 1.1rem;
  }
}

.l-content .c-st004 {
  padding-bottom: 55px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 {
    padding-bottom: 10px;
  }
}

.l-content .c-st004 .c-mainTitle {
  position: relative;
  width: 100%;
  height: 100%;
}

.l-content .c-st004 .c-mainTitle__bg img {
  width: 100%;
}

.l-content .c-st004 .c-mainTitle__txt {
  width: 100%;
  height: 100%;
  top: -16px;
  position: absolute;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-mainTitle__txt {
    top: 0;
  }
}

.l-content .c-st004 .c-mainTitle .c-titlePoint {
  width: 525px;
  padding: 63px 0 74px;
  border-bottom-right-radius: 525px;
  border-bottom-left-radius: 525px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-mainTitle .c-titlePoint {
    width: 263px;
    padding: 22px 0 36px;
    border-bottom-right-radius: 263px;
    border-bottom-left-radius: 263px;
  }
}

.l-content .c-st004 .text15 {
  font-size: 1.5rem;
  line-height: 1.9;
  margin-left: 68px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .text15 {
    font-size: 1.1rem;
    margin: 30px 0;
    padding: 0 18px;
    line-height: 1.6;
  }
}

.l-content .c-st004 .c-list2 {
  margin-top: 70px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2 {
    padding: 0 18px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2 ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}

.l-content .c-st004 .c-list2__card {
  width: 275px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card {
    width: 50%;
    float: none;
    text-align: center;
  }
}

.l-content .c-st004 .c-list2__card .ptitle {
  text-align: center;
  color: #000;
  font-size: 1.7rem;
  height: 55px;
  line-height: 1.6;
  margin: 35px 0 10px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card .ptitle {
    font-size: 1.1rem;
    margin: 10px 0;
    height: 40px;
  }
}

.l-content .c-st004 .c-list2__card img {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card img {
    padding: 0;
    width: 70%;
  }
}

.l-content .c-st004 .c-list2__card p {
  color: #000;
  font-size: 1.3rem;
  line-height: 1.9;
  letter-spacing: 1.8px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card p {
    font-size: 0.9rem;
    text-align: left;
    letter-spacing: 0;
  }
}

.l-content .c-st004 .c-list2__card--1 {
  padding: 0 25px 0 55px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--1 {
    padding: 0 10px;
  }
}

.l-content .c-st004 .c-list2__card--2 {
  padding: 0 40px 0 40px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--2 {
    padding: 0 10px;
  }
}

.l-content .c-st004 .c-list2__card--2 img {
  padding-left: 32px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--2 img {
    padding: 0 0;
    width: 70%;
    margin-top: 0;
  }
}

.l-content .c-st004 .c-list2__card--2 .ptitle {
  margin: 30px 0 10px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--2 .ptitle {
    margin: 10px 0;
  }
}

.l-content .c-st004 .c-list2__card--3 {
  padding: 0 45px 0 35px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--3 {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--3 {
    float: none;
  }
}

.l-content .c-st004 .c-list2__card--3 img {
  padding-left: 39px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--3 img {
    padding: 0;
  }
}

.l-content .c-st004 .c-list2__card--3 .ptitle {
  margin: 30px 0 10px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--3 .ptitle {
    margin: 10px 0;
  }
}

.l-content .c-st004 .c-list2__card--4 {
  padding: 0 50px 0 22px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--4 {
    padding: 0 10px;
  }
}

.l-content .c-st004 .c-list2__card--4 img {
  padding-left: 42px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--4 img {
    padding: 0;
  }
}

.l-content .c-st004 .c-list2__card--4 .ptitle {
  margin: 30px 0 7px;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--4 .ptitle {
    font-size: 1rem;
    margin: 10px 0;
  }
}

.l-content .c-st004 .c-list2__card--4 p {
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st004 .c-list2__card--4 p {
    font-size: 0.9rem;
    letter-spacing: 0;
  }
}

.l-content .c-st005 {
  padding-top: 75px;
  background: #e7ebee;
  position: relative;
}

@media screen and (max-width: 768px) {
  .l-content .c-st005 {
    padding-top: 25px;
  }
}

.l-content .c-st005:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-width: 24px 24px 0 24px;
  border-color: #e7ebee transparent transparent transparent;
}

@media screen and (max-width: 768px) {
  .l-content .c-st005:after {
    border-width: 12px 12px 0 12px;
  }
}

.l-content .c-st005 .white-text {
  text-align: center;
  margin: 40px 0 43px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st005 .white-text {
    margin: 10px 0 20px;
  }
}

.l-content .c-st005 .white-text h2 {
  width: 338px;
  padding: 8.5px 10px;
  font-size: 1.7rem;
  display: inline-block;
  background: #fff;
  border-radius: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-content .c-st005 .white-text h2 {
    font-size: 0.9rem;
    width: auto;
    padding: 4.5px 10px;
  }
}

.l-content .c-st005 .c-main_img {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st005 .c-main_img {
    padding: 0 18px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 {
    padding: 0 18px;
  }
}

.l-content .c-st006 .c-title2 {
  margin: 77px 0 70px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-title2 {
    margin: 37px 0;
  }
}

.l-content .c-st006 .c-Imgtext {
  margin: 0 132px 85px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-Imgtext {
    margin: 0 0 30px;
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.l-content .c-st006 .c-Imgtext__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-content .c-st006 .c-Imgtext__img .c-img5 {
  width: 50%;
}

.l-content .c-st006 .c-Imgtext__img .c-title5 {
  width: 50%;
}

.l-content .c-st006 .c-Imgtext__img .c-title5 h3 {
  font-size: 1.215rem;
}

.l-content .c-st006 .c-Imgtext__txt {
  margin-left: 35px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-Imgtext__txt {
    margin-left: 0;
  }
}

.l-content .c-st006 .c-Imgtext__txt--right {
  margin-left: 0;
  margin-right: 35px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-Imgtext__txt--right {
    margin-right: 0;
  }
}

.l-content .c-st006 .c-Imgtext--imgRight {
  margin-bottom: 55px;
}

.l-content .c-st006 .c-Imgtext--imgRight .p2 {
  padding-right: 90px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-Imgtext--imgRight .p2 {
    padding-right: 0;
  }
}

.l-content .c-st006 .c-Imgtext h3 {
  font-size: 2.4rem;
}

.l-content .c-st006 .c-Imgtext .p1 {
  font-size: 1.5rem;
  margin: 45px 0 25px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-Imgtext .p1 {
    font-size: 1.2rem;
    margin: 18px 0 10px;
  }
}

.l-content .c-st006 .c-Imgtext .p2 {
  font-size: 1.4rem;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .l-content .c-st006 .c-Imgtext .p2 {
    font-size: 1rem;
  }
}

.l-content .c-st006 .c-Imgtext .img-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-content .c-st006 .c-Imgtext .img-title img {
  width: 50%;
}

.l-content .c-st007 {
  padding: 77px 0 74px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st007 {
    padding: 25px 0 20px;
  }
}

.l-content .c-st007 .c-QA {
  padding: 40px 132px 0 120px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st007 .c-QA {
    padding: 15px 18px 0;
  }
}

.l-content .c-st008 {
  padding: 50px 0 64px;
  background: #f8f8f8;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 {
    padding: 25px 18px;
  }
}

.l-content .c-st008 .c-list1 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-list1 {
    margin-top: 35px;
  }
}

.l-content .c-st008 .c-list1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(848px/3);
  float: left;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-list1 li {
    width: calc(100%/2);
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-list1 li:last-child {
    float: none;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding-top: 35px;
  }
}

.l-content .c-st008 .c-list1__card {
  width: 257px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-list1__card {
    width: 100%;
  }
}

.l-content .c-st008 .c-list1__txt {
  padding: 0 20px;
}

.l-content .c-st008 .c-list1 p {
  margin-top: 25px;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-list1 p {
    margin-top: 15px;
    font-size: 1rem;
  }
}

.l-content .c-st008 .c-satisfaction_levels {
  margin-top: 60px;
  text-align: center;
}

.l-content .c-st008 .c-satisfaction_levels h2 {
  font-size: 3rem;
  margin-top: 30px;
  letter-spacing: 4px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-satisfaction_levels h2 {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
}

.l-content .c-st008 .c-satisfaction_levels p {
  margin: 17px 0 18px;
  font-size: 1.4rem;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .l-content .c-st008 .c-satisfaction_levels p {
    font-size: 1rem;
    margin: 15px 0;
    line-height: 1.6;
  }
}

.l-content .c-st008 .c-satisfaction_levels .c-Img1 {
  padding: 0 25px;
}

.l-content .c-st009 {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 {
    margin-top: 28px;
    margin-bottom: 50px;
  }
}

.l-content .c-st009 .c-voice {
  margin: 90px 132px 38px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e3e3e3;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-voice {
    display: block;
    margin: 20px 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 18px;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-voice__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.l-content .c-st009 .c-voice__txt {
  margin-top: 20px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-voice__txt {
    margin-left: 0;
  }
}

.l-content .c-st009 .c-voice h3 {
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-voice h3 {
    font-size: 1rem;
  }
}

.l-content .c-st009 .c-voice h3 span {
  color: #ff6767;
}

.l-content .c-st009 .c-voice--no-border {
  border: none;
  margin-bottom: 28px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-voice--no-border {
    margin-bottom: 0px;
  }
}

.l-content .c-st009 .c-listQA {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-listQA {
    margin-top: 15px;
  }
}

.l-content .c-st009 .c-listQA__card {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-listQA__card {
    padding-bottom: 15px;
  }
}

.l-content .c-st009 .c-listQA h4 {
  font-size: 1.6rem;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-listQA h4 {
    font-size: 1.2rem;
  }
}

.l-content .c-st009 .c-listQA .q-brown {
  color: #fff;
  border-radius: 40px;
  background: #7f634c;
  padding: 3px 12px;
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-listQA .q-brown {
    padding: 1.5px 6px;
    margin-right: 5px;
  }
}

.l-content .c-st009 .c-listQA p {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-listQA p {
    font-size: 0.9rem;
    margin-top: 5px;
  }
}

.l-content .c-st009 .c-slider02 {
  width: 100%;
  display: none;
  /*slick-prev,.slick-next*/
}

@media screen and (max-width: 768px) {
  .l-content .c-st009 .c-slider02 {
    display: block;
  }
}

.l-content .c-st009 .c-slider02_item {
  width: 100%;
}

.l-content .c-st009 .c-slider02 .slick-prev, .l-content .c-st009 .c-slider02 .slick-next {
  position: absolute;
  z-index: 5;
  top: 100px;
  display: block;
  padding: 0;
  width: 21px;
  height: 45px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.l-content .c-st009 .c-slider02 .slick-prev {
  left: 10px;
  background: url(../img/index/icon_prev.png) no-repeat;
  -webkit-background-size: 50% 50%;
          background-size: 50% 50%;
}

.l-content .c-st009 .c-slider02 .slick-next {
  right: -10px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url(../img/index/icon_next.png) no-repeat;
  -webkit-background-size: 50% 50%;
          background-size: 50% 50%;
}

.l-content .c-st010 {
  background: #e7ebee;
}

.l-content .c-campaign {
  width: 878px;
  padding: 48px 0 58px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign {
    width: 100%;
    padding: 25px 0 20px;
  }
}

.l-content .c-campaign .c-slide01 {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  /*slick-prev,.slick-next*/
}

.l-content .c-campaign .c-slide01__item {
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-content .c-campaign .c-slide01__item h3 {
  font-size: 1.5rem;
  color: #fff;
}

.l-content .c-campaign .c-slide01 .slick-prev, .l-content .c-campaign .c-slide01 .slick-next {
  position: absolute;
  z-index: 5;
  top: 35%;
  display: block;
  padding: 0;
  width: 21px;
  height: 45px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-slide01 .slick-prev, .l-content .c-campaign .c-slide01 .slick-next {
    top: 45%;
  }
}

.l-content .c-campaign .c-slide01 .slick-prev {
  left: 35px;
  background: url(../img/index/icon_prev.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-slide01 .slick-prev {
    left: 5px;
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%;
  }
}

.l-content .c-campaign .c-slide01 .slick-next {
  right: 35px;
  background: url(../img/index/icon_next.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-slide01 .slick-next {
    right: 5px;
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-title1 {
    padding: 0 40px;
  }
}

.l-content .c-campaign .c-profile2 {
  margin-top: 35px;
  width: 252px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-profile2 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-profile2__img {
    padding: 0 30px;
  }
}

.l-content .c-campaign .c-profile2__txt {
  margin-top: 10px;
}

.l-content .c-campaign .c-profile2 table {
  width: 100%;
  border-collapse: collapse;
}

.l-content .c-campaign .c-profile2 table span {
  color: #fff;
  width: 59px;
  text-align: center;
  padding: 4px 0;
  display: inline-block;
  background: #000;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-profile2 table span {
    width: 50px;
    padding: 3.5px 0;
  }
}

.l-content .c-campaign .c-profile2 th, .l-content .c-campaign .c-profile2 td {
  font-size: 1.2rem;
  padding-top: 15px;
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-profile2 th, .l-content .c-campaign .c-profile2 td {
    font-size: 0.908rem;
    padding-top: 13px;
  }
}

.l-content .c-campaign .c-profile2 td {
  padding-left: 10px;
  line-height: 1.8;
}

.l-content .c-campaign .c-button1 {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-button1 {
    padding: 0 5px;
  }
}

.l-content .c-campaign .c-button1 a {
  padding: 6.5px 10px;
  font-size: 1.361rem;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-button1 a {
    font-size: 1.34rem;
    padding: 14px 10px;
  }
}

.l-content .c-campaign .c-button1 a:before {
  left: 14px;
  width: 13px;
  height: 17px;
}

.l-content .c-campaign .c-button1 a .fz1361 {
  color: #fff;
  font-size: 1.361rem;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-button1 a .fz1361 {
    font-size: 1.34rem;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .c-button1 span {
    font-size: 1.925rem;
  }
}

.l-content .c-campaign .text12 {
  padding: 15px 0 0;
  font-size: 1.2rem;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .l-content .c-campaign .text12 {
    text-align: right;
    padding: 15px 30px;
  }
}

.l-content .c-st011 {
  background-color: rgba(208, 208, 208, 0.74);
  padding: 170px 0 95px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st011 {
    background: #fff;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st011 .c-title1 {
    padding: 85px 0 65px;
    background-color: rgba(208, 208, 208, 0.74);
  }
}

.l-content .c-st011 .c-title1 h2 {
  color: #fff;
  border: none;
  display: block;
}

@media screen and (max-width: 768px) {
  .l-content .c-st011 .c-title1 h2 {
    font-size: 1.7rem;
    padding: 0 18px;
  }
}

.l-content .c-st011 .c-title1 img {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st011 .c-title1 img {
    margin-top: 10px;
  }
}

.l-content .c-st011 .c-text2 {
  margin-top: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st011 .c-text2 {
    margin-top: 30px;
    text-align: left;
  }
}

.l-content .c-st011 .c-text2 p {
  color: #fff;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .l-content .c-st011 .c-text2 p {
    color: #000;
    font-size: 1.1rem;
    padding: 0 18px;
  }
}

.l-content .c-st012 {
  padding: 90px 0;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 {
    padding: 60px 18px 25px;
  }
}

.l-content .c-st012 .c-list1 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1 {
    margin-top: 40px;
  }
}

.l-content .c-st012 .c-list1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1 li {
    width: calc(100%/2);
  }
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1 li:last-child {
    float: none;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding-top: 30px;
  }
}

.l-content .c-st012 .c-list1__card {
  width: 161px;
  text-align: center;
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1__card {
    width: 100%;
    margin: 0 10px;
  }
}

.l-content .c-st012 .c-list1__txt {
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1__txt {
    padding-top: 15px;
  }
}

.l-content .c-st012 .c-list1 h3 {
  color: #694731;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1 h3 {
    font-size: 1.5rem;
  }
}

.l-content .c-st012 .c-list1 p {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.7;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .l-content .c-st012 .c-list1 p {
    margin-top: 10px;
    font-size: 1rem;
  }
}

.l-content .c-form {
  padding: 100px 0 0;
}

.l-content .c-form form {
  width: 550px;
  margin: 50px auto;
}

.l-content .c-form form .txtform {
  width: 550px;
  display: inline-block;
  border: 1px solid #c8c8c8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  height: 170px;
  padding: 20px;
  resize: none;
}

.l-content .c-form form .txtform p {
  font-size: 1.2rem;
  line-height: 2.1;
}

.l-content .c-form form .txtform h2 {
  margin-top: 30px;
  font-size: 1.4rem;
}

.l-content .c-form form th, .l-content .c-form form td {
  text-align: left;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-content .c-form form th {
  padding: 10px 0;
  width: 220px;
  font-size: 1.6rem;
}

.l-content .c-form form th span {
  padding-left: 30px;
  position: relative;
}

.l-content .c-form form th span:before {
  left: 0px;
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: url(../img/index/icon_04.png) center no-repeat;
}

.l-content .c-form form td {
  padding: 10px 0;
}

.l-content .c-form form .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-content .c-form form .address label {
  padding: 10px 0;
  width: 90px;
  font-size: 1.3rem;
}

.l-content .c-form form .address select {
  width: 100%;
  height: 33px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-content .c-form form .address .span12 {
  padding-top: 10px;
}

.l-content .c-form form .taleft {
  text-align: right;
}

.l-content .c-form form .in1 {
  width: 100%;
  height: 33px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-content .c-form form textarea {
  margin-top: 10px;
  width: 100%;
  height: 170px;
}

.l-content .c-form form .span12 {
  margin-left: 20px;
  font-size: 1.2rem;
  text-align: right;
  display: inline-block;
}

.l-content .c-form form .check_box1 {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-content .c-form form .check_box1 li {
  font-size: 1.4rem;
  margin-right: 25px;
}

.l-content .c-form form .check_box2 {
  padding: 20px;
  background: #fff2f2;
}

.l-content .c-form form .check_box2 li {
  font-size: 1.3rem;
  margin: 5px 0;
}

.l-content .c-form form .check_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-content .c-form form .btn {
  margin-top: 70px;
}

.l-content .c-form form .btn a {
  color: #fff;
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  background: #252523;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #969690;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.l-content .c-form form .btn a:before {
  content: '';
  left: 50px;
  top: 50%;
  width: 18px;
  height: 24px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/index/icon_03.png) center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.l-content .c-form form .btn span {
  color: #f2c526;
  font-size: 2.6rem;
}

/* Accordion style
------------------------------------------------------------*/
.c-accordion {
  margin-top: 50px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .c-accordion {
    margin-top: 20px;
  }
}

.c-accordion--headline {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
}

.c-accordion--headline h3 {
  font-size: 2.1rem;
  letter-spacing: 2.2px;
}

@media screen and (max-width: 768px) {
  .c-accordion--headline h3 {
    font-size: 1.05rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-accordion--headline img {
    width: 38px;
  }
}

.c-accordion--headline::before, .c-accordion--headline::after {
  content: "";
  width: 21px;
  height: 2px;
  background: #000;
  position: absolute;
  display: block;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media screen and (max-width: 768px) {
  .c-accordion--headline::before, .c-accordion--headline::after {
    width: 10.5px;
    height: 1px;
    right: 10px;
  }
}

.c-accordion--headline::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.open > .c-accordion--headline::before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.open > .c-accordion--headline::after {
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
      -ms-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
}

.c-accordion--content {
  display: none;
  padding: 30px 35px 15px;
}

@media screen and (max-width: 768px) {
  .c-accordion--content {
    padding: 25px 0 30px;
  }
}

.c-accordion--content p {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .c-accordion--content p {
    font-size: 1rem;
    line-height: 1.7;
  }
}

.c-accordion li {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-accordion li {
    margin-bottom: 5px;
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
footer {
  position: relative;
}

footer .scroll-top {
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer .scroll-top {
    position: absolute;
    bottom: 20px;
    right: 18px;
  }
}

footer .scroll-top a {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .c-footer {
  padding: 55px 0;
  text-align: center;
  border-top: 1px solid #cdcdcd;
}

@media screen and (max-width: 768px) {
  footer .c-footer {
    padding: 20px 0 120px;
  }
}

footer .c-footer__logo {
  margin-bottom: 65px;
}

@media screen and (max-width: 768px) {
  footer .c-footer__logo {
    margin-bottom: 10px;
  }
}

footer .c-footer__copy p {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  footer .c-footer__copy p {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  width: 100%;
  height: 100%;
  min-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: auto;
  }
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none;
}

@media (min-width: 769px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
