/*------------------------------------------------------------
index
------------------------------------------------------------*/
.page-index{
	.c-top{
		display: block;	
	}

	//-------------------------------------------
	.c-text1{
		p{
			font-size: 16px;
			letter-spacing: 0.8px;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}

	//------------------------------------------
	.c-title2{
		h2{
			text-align: center;
			@include sp{
				padding: 0 20px;
			}		
		}
	}
}


.p-top1{
	padding: 65px 0;
	@include sp{
		padding: 30px 0;
	}

	.c-title2{
		h2{
			@include sp{
				padding: 0 40px;
			}		
		}
	}

	.c-text1{
		p{
			margin-top: 40px;
			@include sp{
				padding: 0 14px;
				margin-top: 25px;
			}
		}
	}

	.c-video1{
		width: 620px;
		height: 350px;
		position: relative;
		margin: 40px auto 0;
		@include sp{
			width: 100%;
			height: 250px;
			margin-top: 25px;
		}
	}

	.video-block {		
		iframe, img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
		img {
			z-index: 1;
		}
		.play-btn {
			left: 50%;
			letter-spacing: 0.6px;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(-50%,-50%);
			z-index: 2;			
			a {
				color: #fff;
				font-size: 2.3rem;
				font-weight: bold;
				text-decoration: none;
				display: inline-block;
				justify-content: center;
				padding: 14px 53px;
				position: relative;
				transition: all .3s ease-in-out;
				border: 2px solid #fff;
				border-radius: 66px;	
				@include sp{
					width: 100%;
					font-size: 1.4rem;
					padding: 10px 30px;
					transform: translate(-15%,-0);
					border: 1px solid #fff;					
				}			
			}
			span {
				display: block;
				position: relative;
				padding-left: 30px;
				@include sp{
					padding-left: 15px;
				}
				&:before {
					content: "";
					left: 0;
					top: 50%;
					width: 0;
					height: 0;
					border-style: solid;
					transform: translate(0,-50%);
					border-width: 11px 0 11px 15px;
					border-color: transparent transparent transparent #ffffff;
					position: absolute;
					@include sp{
						border-width: 7px 0 7px 10px;
					}
				}
			}
		}
	}
}

.p-top2{
	padding: 65px 0;
	background-color: rgb(229, 229, 229);
	@include sp{
		padding: 30px 14px;
	}
	.c-text1{		
		p{
			margin-top: 40px;
			font-weight: bold;
			padding-bottom: 33px;
			border-bottom: 2px solid #fff;
			@include sp{
				margin-top: 20px;
				padding-bottom: 30px;
				border-bottom: 1px solid #fff;
			}
		}
	}

	.c-list2{
		li{
			padding: 11.5px 0;
			display: flex;
			font-size: 1.6rem;
			border-bottom: 2px solid #fff;
			@include sp{
				font-size: 1.4rem;
				padding: 8px 0;
				border-bottom: 1px solid #fff;
			}
		}
		p{
			margin-left: 40px;
			@include sp{
				margin-left: 20px;
			}
		}
		
		.c-link1{
			width: 100%;
			text-align: right;
			a{
				color: #000;
				margin-top: 15px;
				font-size: 1.6rem;
				display: inline-block;		
				text-decoration: underline;	
				@include sp{
					font-size: 1.4rem;
				}	
				&:hover{
					color: #069d8f;
					text-decoration: none;
				}
			}
		}
	}
}

.p-top3{
	padding: 65px 0;
	@include sp{
		padding: 30px 14px 0;
	}
	.c-sliderList{

	}

	.c-title3{
		margin-top: 74px;
		@include sp{
			margin-top: 30px;
		}
		span{
			color: #fff;
			height: 34px;
			font-size: 2.1rem;
			padding: 0 20px;
			font-family: "Hiragino Kaku Gothic Std";
			background: #ffbd2d;
			border-radius: 34px;

		}
		h3{
			margin-top: 10px;
			font-size: 2.7rem;
			font-family: "Hiragino Kaku Gothic Std";
			@include sp{
				font-size: 1.7rem;
			}
		}
	}

	.c-text1{
		margin-top: 20px;
		@include sp{
			margin-top: 10px;
		}
	}

	.c-slider{
		border-bottom: 2px solid rgb(229, 229, 229);
		padding: 47px 80px 20px 60px;	
		position: relative;
		@include sp{
			padding: 30px 0 70px 0;
		}

		&--noline{
			border-bottom: 0;
		}

		.c-Point{
			display: flex;
			width: 100%;
			@include sp{
				display: block;
				flex-wrap: wrap;
			}
			&__img{
				@include sp{
					display: flex;
					margin-right: 10px;
					justify-content: center;
				}
			}
			&__text{
				width: 370px;
				margin-left: 40px;
				@include sp{
					width: 100%;
					margin-left: 0;
					text-align: center;
				}
			}
		}
		.slick-prev{
			position:absolute;
			top:40%;
			left:0px;
			width: 35px;
			height: 66px;
			z-index:5;
			cursor:pointer;
			background: url(../image/common/icon_04.png)  no-repeat;
			@include sp{
				top: 30%;
				width: 23px;
				height: 43px;
				background-size: cover;
			}
			&:hover{
				background: url(../image/common/icon_04-hover.png)  no-repeat;
			}
		}
		.slick-next{
			position:absolute;
			top:40%;
			right:0px;
			width: 35px;
			height: 66px;
			z-index:5;
			cursor:pointer;
			background: url(../image/common/icon_05.png)  no-repeat;
			@include sp{
				top: 30%;
				width: 23px;
				height: 43px;
				background-size: cover;
			}
			&:hover{
				background: url(../image/common/icon_05-hover.png)  no-repeat;
			}
		}
		/* Dots */
		.slick-dots {
			text-align: center;
			width: 370px;
			position: absolute;
			right: 80px;
			bottom: 45px;
			@include sp{
				width: 100%;
				right: 0;
				bottom: 0;
				margin: 30px 0;
			}
			li{
				position: relative;
				display: inline-block;  
				margin: 0 5px;
			}
			.slick-active{
				button{
					&:before {
						background: #a0a0a0;
					}
				}
			}
			button {
				width: 12px;
				height: 12px;
				border-radius: 100%;
				border: 0;
				left: 0;
				display: block;
				cursor: pointer;
				color: transparent;
				&:before {
					border-radius: 100%;
					width: 12px;
					height: 12px;
					top: 1px;
					left: 0px;
					background: #e2e2e2;
					position: absolute;
					content: '';
					transition: opacity 0.25s;
				}
			}			
		}
	}
}

.p-top4{
	padding: 65px 0;
	background-color: rgb(229, 229, 229);
	@include sp{
		padding: 40px 14px;
	}

	.c-col2{
		margin-top: 48px;
		@include sp{
	    	width: 100%;
	    	margin-top: 30px;
	    }
	    img{
	    	@include sp{
	    		width: 100%;
	    		padding: 0 14px;
	    	}
	    }
	    .img1{
	    	margin-right: 25px;
	    	@include sp{
	    		margin-right: 0;
	    		margin-bottom: 18px;
	    	}
	    }
	}
}



