/*------------------------------------------------------------
rule
------------------------------------------------------------*/
.p-qa{

	//------------------------------------------
	.c-title4{
		h2{
			margin-top: 65px;
			font-size: 2.0rem;
			display: flex;
			align-items: center;
			font-family: "Hiragino Kaku Gothic Std";
			@include sp{
				margin-top: 40px;
			}
		}
		img{
			margin-right: 8px;
		}
	}

	//------------------------------------------
	.p-qa1{
		@include sp{
			padding: 0 14px;
		}
	}

	//------------------------------------------
	.accordion {
		margin: 20px 0 65px;
		@include sp{
			margin: 10px 0 40px;
		}
	} 
}