/*------------------------------------------------------------
rule
------------------------------------------------------------*/
.p-rule{

	//----------------------------------------------------
	.p-rule1{
		padding: 65px 0;
		@include sp{
			padding: 30px 14px;
		}
	}

	//----------------------------------------------------
	.c-line1{
		width: 100%;
		height: 1px;
		margin: 40px 0;
		background-color: rgb(229, 229, 229);
		@include sp{
			margin: 30px 0;
		}
	}

	//----------------------------------------------------
	.c-text1{
		@include sp{
			font-size: 1.4rem;
		}		
		p{
			font-size: 1.6rem;
			letter-spacing: 0.8px;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}

	//----------------------------------------------------
	.c-text2{
		p, h3{
			font-size: 1.4rem;
			line-height: 1.6;
			letter-spacing: 0.8px;
			@include sp{
				font-size: 1.2rem;
			}
		}
		p{
			margin-bottom: 25px;
		}
	}

	//----------------------------------------------------
	.c-time1{
		text-align: right;
		time{
			font-size: 1.3rem;
			@include sp{
				font-size: 1rem;
			}
		}
	}
}
