/*------------------------------------------------------------
topics
------------------------------------------------------------*/
.p-topics{

	//------------------------------------------
	.p-topics1{
		padding: 65px 0;
		@include sp{
			padding: 30px 14px;
		}
	}

	//------------------------------------------
	.c-text1{	
		p{
			font-size: 1.6rem;
			letter-spacing: 0.8px;
			@include sp{
				font-size: 1.4rem;
			}
		}
	}

	//------------------------------------------
	.accordion{
		margin: 50px 0 0px;
		@include sp{
			margin: 30px 0 0;
		}

		&--headline {			
			transition: .3s ease;
			position:relative;
			h3{
				@include sp{
					display: inline-flex;
				}
			}
			span{
				padding-right: 30px;
				@include sp{
					padding-right: 15px;
				}
			}
		}
		p{
			color: #000;
			font-size: 1.6rem;
			@include sp{
				font-size: 1.4rem;
			}
		}
		a{
			color: #069d8f;
			font-size: 1.6rem;
			display: inline-block;
			margin-bottom: 25px;
			@include sp{
				font-size: 1.4rem;
				margin-bottom: 15px;
			}
			&:hover{
				color: #666666;
				text-decoration: none;
			}
		}

	}

	//------------------------------------------
	.c-pager {
		margin: 15px auto 0;
		display: flex;
		justify-content: space-between;		
		&__prev{
			position: relative;
			&:before {
				content: "";
				left: 0;
				top: 50%;
				width: 0;
				height: 0;
				position: absolute;
				border-style: solid;
				transform: translate(0,-50%);
				border-width: 4.5px 7px 4.5px 0;
				border-color: transparent #069d8f transparent transparent;
			}
		}
		&__next{
			position: relative;
			&:before {
				content: "";
				right: 0;
				top: 50%;
				width: 0;
				height: 0;
				position: absolute;
				border-style: solid;
				transform: translate(0,-50%);
				border-width: 4.5px 0 4.5px 7px;
				border-color: transparent transparent transparent #069d8f;
			}
		}
		a{
			padding: 0 10px;
			display: block;
			color: #069d8f;
			font-size: 1.6rem;
			text-align: center;
			text-decoration: underline;
			transition: all 300ms ease;
			@include sp{
				font-size: 1.4rem;
			}
			&:hover {
				color: #666666;
				text-decoration: none;
			}
		}
	}
}