@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover, a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.c-dev-title1,
.c-dev-title2,
.c-dev-title3 {
  line-height: 1;
  font-size: 1.3rem;
  padding: 6px 0 6px 15px;
  margin: 40px 0 20px 0;
  border-radius: 5px;
}

.c-dev-title2,
.c-dev-title3 {
  margin-top: 20px;
}

.c-dev-title1 {
  font-size: 1.6rem;
  background: #000;
  color: #FFF;
}

.c-dev-title2 {
  background: #888;
  color: #FFF;
  padding-left: 30px;
}

.c-dev-title3 {
  background: #DDD;
  color: #000;
  padding-left: 35px;
}

.c-dev-message1 {
  top: 0;
  left: 0;
  background: #F00;
  color: #FFF;
  z-index: 9999;
  position: fixed;
  line-height: 1;
  padding: 3px 6px;
  opacity: 0.6;
  font-size: 8px;
}

@media (min-width: 769px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header {
  position: relative;
  *zoom: 1;
  margin: 0 auto;
  min-height: 72px;
}

.c-header:after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  .c-header {
    min-height: 45px;
  }
}

.c-header .c-globalMenu {
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.c-header .c-globalMenu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header .c-globalMenu__logo {
  margin: 10px;
}

.c-header .c-globalMenu__gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 27%;
}

.c-header .c-globalMenu__gnav ul a {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Hiragino Kaku Gothic Std";
  text-align: justifyLeft;
  line-height: 1;
  margin: 28px 16px 29px;
}

.c-header .c-globalMenu__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 10px 19px;
}

.c-header .c-globalMenu__app img {
  margin-left: 8px;
}

.c-header .c-globalMenu p {
  color: #000;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: justifyLeft;
  letter-spacing: 0.6px;
  font-weight: bold;
}

.c-header .c-globalMenu.fixed {
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.c-header .c-top {
  display: none;
  /*MENU*/
}

.c-header .c-top .menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 70;
  font-size: 1.8rem;
}

.c-header .c-top .menu li {
  margin: 35px 0;
}

.c-header .c-top .menu li a {
  width: 11px;
  height: 11px;
  background: #ccc;
  border-radius: 100%;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.c-header .c-top .menu li a:after {
  content: "";
  bottom: -40px;
  left: 50%;
  width: 1px;
  height: 25px;
  position: absolute;
  background: #ccc;
}

.c-header .c-top .menu li a:hover {
  background: #fff;
}

.c-header .c-top li:last-child a:after {
  display: none;
}

.c-header .c-top li.active a,
.c-header .c-top menu li:last-child a {
  color: #fff;
  background: #069d8f;
  border-radius: 10px;
  position: relative;
}

.c-header .c-top li.active a:before,
.c-header .c-top menu li:last-child a:before {
  content: "";
  top: -3px;
  left: -3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #069d8f;
  position: absolute;
}

.c-header .c-top__banner {
  text-align: center;
  background: url(../image/common/img_01.jpg) center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__banner {
    bottom: 220px;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
  }
}

.c-header .c-top__banner .c-logo {
  padding: 183px 0 152px;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__banner .c-logo {
    padding: 120px 0 110px;
  }
}

.c-header .c-top__threePoints {
  background: #49c8b2;
  -webkit-box-shadow: 0px -8px 43px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0px -8px 43px 0px rgba(0, 0, 0, 0.23);
  padding-bottom: 29px;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints {
    padding: 0 14px;
  }
}

.c-header .c-top__threePoints .c-threePoints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-threePoints {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-threePoints__imgPhone {
    display: none;
  }
}

.c-header .c-top__threePoints .c-threePoints__imgPhone img {
  margin-top: -67px;
}

.c-header .c-top__threePoints .c-threePoints__text {
  color: #fff;
  margin-left: 29px;
  margin-top: 47px;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-threePoints__text {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 17px;
    text-align: center;
  }
}

.c-header .c-top__threePoints .c-threePoints__text p {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2.2px;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-threePoints__text p {
    font-size: 1.7rem;
    letter-spacing: 0;
  }
}

.c-header .c-top__threePoints .c-threePoints__text h2 {
  font-size: 3.8rem;
  letter-spacing: 1px;
  font-family: "Hiragino Kaku Gothic Std";
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-threePoints__text h2 {
    font-size: 2.5rem;
    letter-spacing: -2.6px;
  }
}

.c-header .c-top__threePoints .c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-list1 {
    margin-top: 10px;
  }
}

.c-header .c-top__threePoints .c-list1__card {
  margin-left: 49px;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-list1__card {
    width: 30%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-list1__card img {
    width: 100%;
  }
}

.c-header .c-top__threePoints .c-list1__card:nth-child(3n+1) {
  margin-left: 0px;
}

.c-header .c-top__threePoints .c-list1 p {
  margin-top: 15px;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro";
  font-weight: bold;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .c-header .c-top__threePoints .c-list1 p {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}

/* SP
------------------------------------------------------------*/
.c-globalMenuSP {
  position: fixed;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 45px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.c-globalMenuSP .c-logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-globalMenuSP .c-logo .img1 {
  width: 110px;
  height: 32px;
  background: url(../image/common/logo_01-sp.png) no-repeat;
}

.c-globalMenuSP .c-SNS {
  top: 0;
  position: absolute;
  z-index: 10;
  width: 90%;
  margin-left: 10%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-globalMenuSP .c-SNS .img2 {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  background: url(../image/common/fb.png) no-repeat;
}

.c-globalMenuSP .c-SNS .img3 {
  width: 28px;
  height: 22px;
  background: url(../image/common/twitter.png) no-repeat;
}

.c-globalMenuSP .menu-toggle {
  width: 30px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 10px;
  cursor: pointer;
}

.c-globalMenuSP .menu-toggle.on .one {
  -webkit-transform: rotate(45deg) translate(4px, 8px);
      -ms-transform: rotate(45deg) translate(4px, 8px);
          transform: rotate(45deg) translate(4px, 8px);
}

.c-globalMenuSP .menu-toggle.on .two {
  opacity: 0;
}

.c-globalMenuSP .menu-toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(6px, -10px);
      -ms-transform: rotate(-45deg) translate(6px, -10px);
          transform: rotate(-45deg) translate(6px, -10px);
}

.c-globalMenuSP .one,
.c-globalMenuSP .two,
.c-globalMenuSP .three {
  width: 100%;
  height: 4px;
  background: #000;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.c-globalMenuSP nav ul {
  text-align: center;
  list-style: none;
  margin: 95px auto;
}

.c-globalMenuSP nav ul.hidden {
  display: none;
}

.c-globalMenuSP nav ul p {
  margin: 60px 0 10px;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.c-globalMenuSP nav ul img {
  margin-top: 13px;
}

.c-globalMenuSP nav ul a {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: none;
  color: #000;
  font-size: 2.1rem;
  font-family: "Hiragino Kaku Gothic Std";
  width: 100%;
  display: block;
  cursor: pointer;
}

.c-globalMenuSP nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.c-globalMenuSP .menu-section.on {
  right: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
}

.c-globalMenuSP.fixed {
  background: #49c8b2;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.c-globalMenuSP.fixed .one,
.c-globalMenuSP.fixed .two,
.c-globalMenuSP.fixed .three {
  background: #fff;
}

.c-globalMenuSP.fixed .c-logo .img1 {
  width: 110px;
  height: 32px;
  background: url(../image/common/logo_01-fix.png) no-repeat;
}

.c-globalMenuSP.fixed .c-SNS .img2 {
  width: 27px;
  height: 27px;
  background: url(../image/common/fb-fix.png) no-repeat;
}

.c-globalMenuSP.fixed .c-SNS .img3 {
  width: 28px;
  height: 22px;
  background: url(../image/common/twitter-fix.png) no-repeat;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  background: #49c8b2;
  padding: 65px 0;
}

@media screen and (max-width: 768px) {
  .c-footer {
    padding: 40px 14px 0;
  }
}

.c-footer__inner {
  text-align: center;
}

.c-footer h2 {
  font-size: 2rem;
  font-family: "Hiragino Kaku Gothic Std";
}

.c-footApp {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-footApp a {
  margin: 0 14px;
}

@media screen and (max-width: 768px) {
  .c-footApp a {
    margin: 0 7px;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .c-footApp img {
    width: 100%;
  }
}

.c-footInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
}

@media screen and (max-width: 768px) {
  .c-footInfo {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
}

.c-footInfo--media img {
  margin-left: 10px;
}

.c-footInfo p {
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .c-footInfo p {
    font-size: 1.3rem;
    margin-top: 25px;
  }
}

.c-footInfo p:hover {
  color: #069d8f;
}

.c-footCopy {
  padding: 20px 0;
}

.c-footCopy p {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .c-footCopy p {
    font-size: 1.0rem;
  }
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-container {
  width: 780px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: auto;
  }
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 {
  width: 100%;
}

.c-title1 h2 {
  padding: 46px 0;
  text-align: center;
  background-color: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .c-title1 h2 {
    padding: 22px 0;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/* Accordion style
------------------------------------------------------------*/
.accordion {
  list-style: none;
  padding: 0;
}

.accordion--headline:hover::before, .accordion--headline:hover::after {
  content: "";
  width: 20px;
  height: 3px;
  background: #069d8f;
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media screen and (max-width: 768px) {
  .accordion--headline:hover::before, .accordion--headline:hover::after {
    right: -10px;
  }
}

.accordion--headline:hover::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.accordion--headline {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
}

.accordion--headline h3 {
  font-size: 1.6rem;
  padding: 18px 60px 18px 0;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 768px) {
  .accordion--headline h3 {
    font-size: 1.4rem;
    padding: 15px 40px 15px 0;
  }
}

.accordion--headline::before, .accordion--headline::after {
  content: "";
  width: 20px;
  height: 3px;
  background: #c9c9c9;
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media screen and (max-width: 768px) {
  .accordion--headline::before, .accordion--headline::after {
    right: -10px;
  }
}

.accordion--headline::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.open > .accordion--headline::before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.open > .accordion--headline::after {
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
      -ms-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
}

.accordion--content {
  display: none;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .accordion--content {
    padding-bottom: 15px;
  }
}

.accordion--content p {
  color: #6c6c6d;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .accordion--content p {
    font-size: 1.2rem;
  }
}

.accordion--content span {
  font-weight: bold;
}

.accordion li {
  border-top: 1px solid #e5e5e5;
}

.accordion .last {
  border-bottom: 1px solid #e5e5e5;
}

/*------------------------------------------------------------
index
------------------------------------------------------------*/
.page-index .c-top {
  display: block;
}

.page-index .c-text1 p {
  font-size: 16px;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 768px) {
  .page-index .c-text1 p {
    font-size: 1.4rem;
  }
}

.page-index .c-title2 h2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .page-index .c-title2 h2 {
    padding: 0 20px;
  }
}

.p-top1 {
  padding: 65px 0;
}

@media screen and (max-width: 768px) {
  .p-top1 {
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .p-top1 .c-title2 h2 {
    padding: 0 40px;
  }
}

.p-top1 .c-text1 p {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .p-top1 .c-text1 p {
    padding: 0 14px;
    margin-top: 25px;
  }
}

.p-top1 .c-video1 {
  width: 620px;
  height: 350px;
  position: relative;
  margin: 40px auto 0;
}

@media screen and (max-width: 768px) {
  .p-top1 .c-video1 {
    width: 100%;
    height: 250px;
    margin-top: 25px;
  }
}

.p-top1 .video-block iframe, .p-top1 .video-block img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.p-top1 .video-block img {
  z-index: 1;
}

.p-top1 .video-block .play-btn {
  left: 50%;
  letter-spacing: 0.6px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.p-top1 .video-block .play-btn a {
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 53px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 66px;
}

@media screen and (max-width: 768px) {
  .p-top1 .video-block .play-btn a {
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 30px;
    -webkit-transform: translate(-15%, 0);
        -ms-transform: translate(-15%, 0);
            transform: translate(-15%, 0);
    border: 1px solid #fff;
  }
}

.p-top1 .video-block .play-btn span {
  display: block;
  position: relative;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .p-top1 .video-block .play-btn span {
    padding-left: 15px;
  }
}

.p-top1 .video-block .play-btn span:before {
  content: "";
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-width: 11px 0 11px 15px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .p-top1 .video-block .play-btn span:before {
    border-width: 7px 0 7px 10px;
  }
}

.p-top2 {
  padding: 65px 0;
  background-color: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .p-top2 {
    padding: 30px 14px;
  }
}

.p-top2 .c-text1 p {
  margin-top: 40px;
  font-weight: bold;
  padding-bottom: 33px;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .p-top2 .c-text1 p {
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
  }
}

.p-top2 .c-list2 li {
  padding: 11.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .p-top2 .c-list2 li {
    font-size: 1.4rem;
    padding: 8px 0;
    border-bottom: 1px solid #fff;
  }
}

.p-top2 .c-list2 p {
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .p-top2 .c-list2 p {
    margin-left: 20px;
  }
}

.p-top2 .c-list2 .c-link1 {
  width: 100%;
  text-align: right;
}

.p-top2 .c-list2 .c-link1 a {
  color: #000;
  margin-top: 15px;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .p-top2 .c-list2 .c-link1 a {
    font-size: 1.4rem;
  }
}

.p-top2 .c-list2 .c-link1 a:hover {
  color: #069d8f;
  text-decoration: none;
}

.p-top3 {
  padding: 65px 0;
}

@media screen and (max-width: 768px) {
  .p-top3 {
    padding: 30px 14px 0;
  }
}

.p-top3 .c-title3 {
  margin-top: 74px;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-title3 {
    margin-top: 30px;
  }
}

.p-top3 .c-title3 span {
  color: #fff;
  height: 34px;
  font-size: 2.1rem;
  padding: 0 20px;
  font-family: "Hiragino Kaku Gothic Std";
  background: #ffbd2d;
  border-radius: 34px;
}

.p-top3 .c-title3 h3 {
  margin-top: 10px;
  font-size: 2.7rem;
  font-family: "Hiragino Kaku Gothic Std";
}

@media screen and (max-width: 768px) {
  .p-top3 .c-title3 h3 {
    font-size: 1.7rem;
  }
}

.p-top3 .c-text1 {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-text1 {
    margin-top: 10px;
  }
}

.p-top3 .c-slider {
  border-bottom: 2px solid #e5e5e5;
  padding: 47px 80px 20px 60px;
  position: relative;
  /* Dots */
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider {
    padding: 30px 0 70px 0;
  }
}

.p-top3 .c-slider--noline {
  border-bottom: 0;
}

.p-top3 .c-slider .c-Point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider .c-Point {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider .c-Point__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-top3 .c-slider .c-Point__text {
  width: 370px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider .c-Point__text {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

.p-top3 .c-slider .slick-prev {
  position: absolute;
  top: 40%;
  left: 0px;
  width: 35px;
  height: 66px;
  z-index: 5;
  cursor: pointer;
  background: url(../image/common/icon_04.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider .slick-prev {
    top: 30%;
    width: 23px;
    height: 43px;
    -webkit-background-size: cover;
            background-size: cover;
  }
}

.p-top3 .c-slider .slick-prev:hover {
  background: url(../image/common/icon_04-hover.png) no-repeat;
}

.p-top3 .c-slider .slick-next {
  position: absolute;
  top: 40%;
  right: 0px;
  width: 35px;
  height: 66px;
  z-index: 5;
  cursor: pointer;
  background: url(../image/common/icon_05.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider .slick-next {
    top: 30%;
    width: 23px;
    height: 43px;
    -webkit-background-size: cover;
            background-size: cover;
  }
}

.p-top3 .c-slider .slick-next:hover {
  background: url(../image/common/icon_05-hover.png) no-repeat;
}

.p-top3 .c-slider .slick-dots {
  text-align: center;
  width: 370px;
  position: absolute;
  right: 80px;
  bottom: 45px;
}

@media screen and (max-width: 768px) {
  .p-top3 .c-slider .slick-dots {
    width: 100%;
    right: 0;
    bottom: 0;
    margin: 30px 0;
  }
}

.p-top3 .c-slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.p-top3 .c-slider .slick-dots .slick-active button:before {
  background: #a0a0a0;
}

.p-top3 .c-slider .slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 0;
  left: 0;
  display: block;
  cursor: pointer;
  color: transparent;
}

.p-top3 .c-slider .slick-dots button:before {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 0px;
  background: #e2e2e2;
  position: absolute;
  content: '';
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.p-top4 {
  padding: 65px 0;
  background-color: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .p-top4 {
    padding: 40px 14px;
  }
}

.p-top4 .c-col2 {
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .p-top4 .c-col2 {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .p-top4 .c-col2 img {
    width: 100%;
    padding: 0 14px;
  }
}

.p-top4 .c-col2 .img1 {
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .p-top4 .c-col2 .img1 {
    margin-right: 0;
    margin-bottom: 18px;
  }
}

/*------------------------------------------------------------
rule
------------------------------------------------------------*/
.p-qa .c-title4 h2 {
  margin-top: 65px;
  font-size: 2.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Hiragino Kaku Gothic Std";
}

@media screen and (max-width: 768px) {
  .p-qa .c-title4 h2 {
    margin-top: 40px;
  }
}

.p-qa .c-title4 img {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .p-qa .p-qa1 {
    padding: 0 14px;
  }
}

.p-qa .accordion {
  margin: 20px 0 65px;
}

@media screen and (max-width: 768px) {
  .p-qa .accordion {
    margin: 10px 0 40px;
  }
}

/*------------------------------------------------------------
topics
------------------------------------------------------------*/
.p-topics .p-topics1 {
  padding: 65px 0;
}

@media screen and (max-width: 768px) {
  .p-topics .p-topics1 {
    padding: 30px 14px;
  }
}

.p-topics .c-text1 p {
  font-size: 1.6rem;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 768px) {
  .p-topics .c-text1 p {
    font-size: 1.4rem;
  }
}

.p-topics .accordion {
  margin: 50px 0 0px;
}

@media screen and (max-width: 768px) {
  .p-topics .accordion {
    margin: 30px 0 0;
  }
}

.p-topics .accordion--headline {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
}

@media screen and (max-width: 768px) {
  .p-topics .accordion--headline h3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.p-topics .accordion--headline span {
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  .p-topics .accordion--headline span {
    padding-right: 15px;
  }
}

.p-topics .accordion p {
  color: #000;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .p-topics .accordion p {
    font-size: 1.4rem;
  }
}

.p-topics .accordion a {
  color: #069d8f;
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .p-topics .accordion a {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
}

.p-topics .accordion a:hover {
  color: #666666;
  text-decoration: none;
}

.p-topics .c-pager {
  margin: 15px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-topics .c-pager__prev {
  position: relative;
}

.p-topics .c-pager__prev:before {
  content: "";
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-width: 4.5px 7px 4.5px 0;
  border-color: transparent #069d8f transparent transparent;
}

.p-topics .c-pager__next {
  position: relative;
}

.p-topics .c-pager__next:before {
  content: "";
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-width: 4.5px 0 4.5px 7px;
  border-color: transparent transparent transparent #069d8f;
}

.p-topics .c-pager a {
  padding: 0 10px;
  display: block;
  color: #069d8f;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: underline;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media screen and (max-width: 768px) {
  .p-topics .c-pager a {
    font-size: 1.4rem;
  }
}

.p-topics .c-pager a:hover {
  color: #666666;
  text-decoration: none;
}

/*------------------------------------------------------------
rule
------------------------------------------------------------*/
.p-rule .p-rule1 {
  padding: 65px 0;
}

@media screen and (max-width: 768px) {
  .p-rule .p-rule1 {
    padding: 30px 14px;
  }
}

.p-rule .c-line1 {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .p-rule .c-line1 {
    margin: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .p-rule .c-text1 {
    font-size: 1.4rem;
  }
}

.p-rule .c-text1 p {
  font-size: 1.6rem;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 768px) {
  .p-rule .c-text1 p {
    font-size: 1.4rem;
  }
}

.p-rule .c-text2 p, .p-rule .c-text2 h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 768px) {
  .p-rule .c-text2 p, .p-rule .c-text2 h3 {
    font-size: 1.2rem;
  }
}

.p-rule .c-text2 p {
  margin-bottom: 25px;
}

.p-rule .c-time1 {
  text-align: right;
}

.p-rule .c-time1 time {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .p-rule .c-time1 time {
    font-size: 1rem;
  }
}

.u-mt20 {
  margin-top: 20px;
}

.u-red {
  color: #F00;
  font-weight: bold;
}
