/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer{
	background: #49c8b2;
	padding: 65px 0;
	@include sp{
		padding: 40px 14px 0;
	}
	&__inner{
		text-align: center;
	}
	h2{
		font-size: 2rem;
		font-family: "Hiragino Kaku Gothic Std";
	}
}

.c-footApp{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	a{
		margin: 0 14px;
		@include sp{
	    	margin: 0 7px;
	    	width: 50%;
	    }
	}
	img{
		@include sp{
	    	width: 100%;
	    }
	}
}

.c-footInfo{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 34px;
	@include sp{
		display: block;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	&--media{
		img{
			margin-left: 10px;
		}
	}
	p{
		color: #fff;
		font-weight: bold;
		font-size: 1.4rem;
		@include sp{
	    	font-size: 1.3rem;
	    	margin-top: 25px;
	    }
		&:hover{
			color: #069d8f;
		}
	}
}

.c-footCopy{
	padding: 20px 0;
    @include sp{
    }

	p{
		color: #fff;
		text-align: center;
		font-size: 1.2rem;
		line-height: 1.8;
	    @include sp{
	    	font-size: 1.0rem;
	    }
	}
}