/*------------------------------------------------------------
header
------------------------------------------------------------*/

.c-header{
	position: relative;
	@include clear;
	margin: 0 auto;
	min-height: 72px;
	@include sp{
		min-height: 45px;
	}
	
	.c-globalMenu{
		position: fixed;
		top: 0px;
		z-index: 11;
		width: 100%;
		transition: all 0.25s ease-out;
		&__inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__logo{
			margin: 10px;
		}
		&__gnav ul{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-left: 27%;
			a{
				color: #000;
				font-size: 1.6rem;
				text-decoration: none;
				font-family: "Hiragino Kaku Gothic Std";
				text-align: justifyLeft;
				line-height: 1;
				margin: 28px 16px 29px;
			}
		}
		&__app{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 16px 10px 19px;
			img{
				margin-left: 8px;
			}
		}

		p{
			color: #000;
			font-size: 1.4rem;
			line-height: 1.2;
			text-align: justifyLeft;
			letter-spacing: 0.6px;
			font-weight: bold;
		}
	}

	.c-globalMenu.fixed{
		background: #fff;
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
	}

	.c-top{
		display: none;
		/*MENU*/
		.menu{
			position: fixed;
			top: 20px;
			left: 20px;
			z-index: 70;  
			font-size: 1.8rem;
			li{
				margin: 35px 0;
				a{
					width: 11px;
					height: 11px;
					background:#ccc;
					border-radius: 100%;
					display: inline-block;	
					text-decoration: none;
					position: relative;
					&:after{
						content: "";
						bottom: -40px;
						left: 50%;
						width: 1px;
						height: 25px;
						position: absolute;
						background: #ccc;
					}


					&:hover{
						background:#fff;
					}			
				}
			}
		}
		li:last-child a {
			&:after{
				display: none;
			}
		}
		li.active a,
		menu li:last-child a {
			color: #fff;
			background: #069d8f;  
			border-radius: 10px;
			position: relative;
			&:before{
				content: "";
				top: -3px;
				left: -3px;
				width: 15px;
				height: 15px;
				border-radius: 100%;
				border: 1px solid #069d8f;
				position: absolute;
			}			
		}
		&__banner{
			text-align: center;
			background: url(../image/common/img_01.jpg) center no-repeat;
			background-size: 100% 100%;

			@include sp {
				bottom: 220px;
				background-position: center;
				background-size: cover;
			}	
			.c-logo{
				padding: 183px 0 152px;
				@include sp{
					padding: 120px 0 110px;
				}
			}
		}
		&__threePoints{
			background: #49c8b2;
			box-shadow: 0px -8px 43px 0px rgba(0, 0, 0, 0.23);
			padding-bottom: 29px;
			@include sp{
				padding: 0 14px;
			}
			.c-threePoints{
				display: flex;
				flex-wrap: wrap;
				@include sp{
					width: 100%;
				}			

				&__imgPhone{
					@include sp{
						display: none;
					}
					img{
						margin-top: -67px;
					}
				}
				&__text{
					color: #fff;
					margin-left: 29px;
					margin-top: 47px;
					@include sp{
						width: 100%;
						margin-left: 0;
						margin-top: 15px;
						margin-bottom: 17px;
						text-align: center;
					}
					p{
						font-size: 2rem;
						font-weight: bold;
						letter-spacing: 2.2px;
						@include sp{
							font-size: 1.7rem;
							letter-spacing: 0;
						}
					}
					h2{
						font-size: 3.8rem;
						letter-spacing: 1px;
						font-family: "Hiragino Kaku Gothic Std";
						@include sp{
							font-size: 2.5rem;
							letter-spacing: -2.6px;
						}
					}
				}
			}
			.c-list1{
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;
				@include sp{
					margin-top: 10px;
				}

				&__card{
					margin-left: 49px;
					@include sp{
						width: 30%;
						margin-left: 5%;
					}
					img{
						@include sp{
							width: 100%;
						}
					}

					//----------------------------------------------------
					&:nth-child(3n+1){
						margin-left: 0px;
					}				
				}
				p{
					margin-top: 15px;
					font-size: 1.6rem;
					text-align: center;
					font-family: "Hiragino Kaku Gothic Pro";
					font-weight: bold;
					letter-spacing: 0;
					@include sp{
						margin-top: 10px;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
/* SP
------------------------------------------------------------*/
.c-globalMenuSP{
	position: fixed;
	top: 0px;
	z-index: 9;
	width: 100%;
	height: 45px;
	transition: all 0.25s ease-out;
	.c-logo{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.img1{
			width: 110px;
			height: 32px;
			background: url(../image/common/logo_01-sp.png)  no-repeat;
		}
	}
	.c-SNS{
		top: 0;
		position: absolute;
		z-index: 10;
		width: 90%;
		margin-left: 10%;
		height: 100%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.img2{
			width: 27px;
			height: 27px;
			margin-right: 12px;
			background: url(../image/common/fb.png)  no-repeat;
		}
		.img3{
			width: 28px;
			height: 22px;
			background: url(../image/common/twitter.png)  no-repeat;
		}
	}
	.menu-section{

	}
	.menu-toggle {
		width: 30px;
		height: 24px;
		position: absolute;
		top: 4px;
		left: 10px;
		cursor: pointer;

		&.on {

			.one {
				transform: rotate(45deg) translate(4px, 8px);
			}

			.two {
				opacity: 0;
			}

			.three {
				transform: rotate(-45deg) translate(6px, -10px);
			}
		}
	}

	.one,
	.two,
	.three{
		width: 100%;
		height: 4px;
		background: #000;
		margin: 6px auto;
		backface-visibility: hidden;
		transition-duration: 0.3s;
	}

	nav ul{
		text-align: center;
		list-style: none;
		margin: 95px auto;
		&.hidden {
			display: none;
		}

		p{
			margin: 60px 0 10px;
			color: #000;
			font-size: 1.5rem;
			font-weight: bold;
		}

		img{
			margin-top: 13px;
		}

		a {
			transition-duration: 0.5s;
			text-decoration: none;
			color: #000;
			font-size: 2.1rem;
			font-family: "Hiragino Kaku Gothic Std";
			width: 100%;
			display: block;
			cursor: pointer;
			&:hover {
				background-color: rgba(0,0,0,0.5);
			}
		}
	}

	.menu-section {
		&.on {
			right: 0;
			z-index: 11;
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba(255,255,255,0.8);
			position: fixed;
		}
	}

}
.c-globalMenuSP.fixed{
	background: #49c8b2;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

	.one,
	.two,
	.three{
		background: #fff;
	}

	.c-logo{
		.img1{
			width: 110px;
			height: 32px;
			background: url(../image/common/logo_01-fix.png)  no-repeat;
		}
	}

	.c-SNS{
		.img2{
			width: 27px;
			height: 27px;
			background: url(../image/common/fb-fix.png)  no-repeat;
		}
		.img3{
			width: 28px;
			height: 22px;
			background: url(../image/common/twitter-fix.png)  no-repeat;
		}
	}
}