/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
}


/*
------------------------------------------------------------*/

.l-container{
    width: 780px;
    margin: 0 auto;
    @include sp{
        width: auto;
    };
}