@charset "utf-8";

main {
	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}

	.center {
		text-align: center;
	}
}

// margin
.mt_0{margin-top:0px;}
.mt_01{margin-top:1px;}
.mt_02{margin-top:2px;}
.mt_03{margin-top:3px;}
.mt_04{margin-top:4px;}
.mt_05{margin-top:5px;}
.mt_06{margin-top:6px;}
.mt_07{margin-top:7px;}
.mt_08{margin-top:8px;}
.mt_09{margin-top:9px;}
.mt_10{margin-top:10px;}
.mt_11{margin-top:11px;}
.mt_12{margin-top:12px;}
.mt_13{margin-top:13px;}
.mt_14{margin-top:14px;}
.mt_15{margin-top:15px;}
.mt_16{margin-top:16px;}
.mt_17{margin-top:17px;}
.mt_18{margin-top:18px;}
.mt_19{margin-top:19px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.mt_35{margin-top:35px;}
.mt_40{margin-top:40px;}
.mt_45{margin-top:45px;}
.mt_50{margin-top:50px;}
.mt_55{margin-top:55px;}
.mt_60{margin-top:60px;}
.mt_65{margin-top:65px;}
.mt_70{margin-top:70px;}

@include mq() {
	.mt_20{margin-top:15px;}
	.mt_30{margin-top:20px;}
	.mt_50{margin-top:30px;}
}

@include mq(sp) {
	.mt_20{margin-top:15px;}
	.mt_50{margin-top:25px;}
}


.mb_0{margin-bottom:0px;}
.mb_01{margin-bottom:1px;}
.mb_02{margin-bottom:2px;}
.mb_03{margin-bottom:3px;}
.mb_04{margin-bottom:4px;}
.mb_05{margin-bottom:5px;}
.mb_06{margin-bottom:6px;}
.mb_07{margin-bottom:7px;}
.mb_08{margin-bottom:8px;}
.mb_09{margin-bottom:9px;}
.mb_10{margin-bottom:10px;}
.mb_11{margin-bottom:11px;}
.mb_12{margin-bottom:12px;}
.mb_13{margin-bottom:13px;}
.mb_14{margin-bottom:14px;}
.mb_15{margin-bottom:15px;}
.mb_16{margin-bottom:16px;}
.mb_17{margin-bottom:17px;}
.mb_18{margin-bottom:18px;}
.mb_19{margin-bottom:19px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}
.mb_30{margin-bottom:30px;}
.mb_35{margin-bottom:35px;}
.mb_40{margin-bottom:40px;}
.mb_45{margin-bottom:45px;}
.mb_50{margin-bottom:50px;}
.mb_55{margin-bottom:55px;}
.mb_60{margin-bottom:60px;}
.mb_65{margin-bottom:65px;}
.mb_70{margin-bottom:70px;}

@include mq() {
	.mb_20{margin-bottom:15px;}
	.mb_30{margin-bottom:20px;}
	.mb_50{margin-bottom:30px;}
}

@include mq(sp) {
	.mb_20{margin-bottom:15px;}
	.mb_50{margin-bottom:25px;}
}


.mr_0{margin-right:0px;}
.mr_01{margin-right:1px;}
.mr_02{margin-right:2px;}
.mr_03{margin-right:3px;}
.mr_04{margin-right:4px;}
.mr_05{margin-right:5px;}
.mr_06{margin-right:6px;}
.mr_07{margin-right:7px;}
.mr_08{margin-right:8px;}
.mr_09{margin-right:9px;}
.mr_10{margin-right:10px;}
.mr_11{margin-right:11px;}
.mr_12{margin-right:12px;}
.mr_13{margin-right:13px;}
.mr_14{margin-right:14px;}
.mr_15{margin-right:15px;}
.mr_16{margin-right:16px;}
.mr_17{margin-right:17px;}
.mr_18{margin-right:18px;}
.mr_19{margin-right:19px;}
.mr_20{margin-right:20px;}
.mr_25{margin-right:25px;}
.mr_30{margin-right:30px;}
.mr_35{margin-right:35px;}
.mr_40{margin-right:40px;}
.mr_45{margin-right:45px;}
.mr_50{margin-right:50px;}
.mr_55{margin-right:55px;}
.mr_60{margin-right:60px;}
.mr_65{margin-right:65px;}
.mr_70{margin-right:70px;}

.ml_0{margin-left:0px;}
.ml_01{margin-left:1px;}
.ml_02{margin-left:2px;}
.ml_03{margin-left:3px;}
.ml_04{margin-left:4px;}
.ml_05{margin-left:5px;}
.ml_06{margin-left:6px;}
.ml_07{margin-left:7px;}
.ml_08{margin-left:8px;}
.ml_09{margin-left:9px;}
.ml_10{margin-left:10px;}
.ml_11{margin-left:11px;}
.ml_12{margin-left:12px;}
.ml_13{margin-left:13px;}
.ml_14{margin-left:14px;}
.ml_15{margin-left:15px;}
.ml_16{margin-left:16px;}
.ml_17{margin-left:17px;}
.ml_18{margin-left:18px;}
.ml_19{margin-left:19px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}
.ml_35{margin-left:35px;}
.ml_40{margin-left:40px;}
.ml_45{margin-left:45px;}
.ml_50{margin-left:50px;}
.ml_55{margin-left:55px;}
.ml_60{margin-left:60px;}
.ml_65{margin-left:65px;}
.ml_70{margin-left:70px;}



// font size
.font_size_30 {
	font-size: 30px;
	
	@include mq() {
		font-size: 26px;
	}
	
	@include mq(sp) {
		font-size: 24px;
	}
}


.font_size_26 {
	font-size: 26px;
	
	@include mq() {
		font-size: 24px;
	}
	
	@include mq(sp) {
		font-size: 22px;
	}
}

.font_size_24 {
	font-size: 24px;
	
	@include mq() {
		font-size: 22px;
	}
	
	@include mq(sp) {
		font-size: 20px;
	}
}


.font_size_22 {
	font-size: 22px;
	
	@include mq() {
		font-size: 20px;
	}
	
	@include mq(sp) {
		font-size: 18px;
	}
}

.font_size_20 {
	font-size: 20px;
	
	@include mq() {
		font-size: 18px;
	}
	
	@include mq(sp) {
		font-size: 16px;
	}
}

.font_size_18 {
	font-size: 18px;
	
	@include mq() {
		font-size: 17px;
	}
	
	@include mq(sp) {
		font-size: 15px;
	}
}

.font_size_16 {
	font-size: 16px;
	
	@include mq() {
		font-size: 15px;
	}
	
	@include mq(sp) {
		font-size: 14px;
	}
}


.font_size_14 {
	font-size: 14px;
	
	@include mq() {
		font-size: 13px;
	}
	
	@include mq(sp) {
		font-size: 12px;
	}
}


.font_size_12 {
	font-size: 12px;
	
	@include mq() {
		font-size: 12px;
	}
	
	@include mq(sp) {
		font-size: 11px;
	}
}


.font_size_10 {
	font-size: 10px;
	
	@include mq() {
		font-size: 10px;
	}
	
	@include mq(sp) {
		font-size: 8px;
	}
}