@charset "utf-8";

// ------------ 下層ページのタイトル ------------

div.business {
	
	// BASS LAYOUT
	
	.pro_tal{
		padding: 100px 0 0;
		width: 100%;
		@include mq() {
			padding-top: 50px;
		}
		@include mq(sp) {
			padding-top: 30px;
		}
		&__card{
			position: relative;
			&--mt{
				margin-top: 100px;
				@include mq() {
					margin-top: 50px;
				}
			}
		}
		.c-profile2{
			width: 100%;
			padding: 0 100px;
			@include mq() {
				padding: 0 50px;
			}
			&__inner{
				width: 100%;
				display: flex;	
				@include mq(sp) {
					flex-wrap: wrap;
					display: block;
				}
			}			
			&__img{
				width: 50%;
				@include mq() {
					width: 100%;
					margin-bottom: 10px;
				}
				img{
					width: 100%;
				}
			}
			&__txt{
				width: 50%;
				padding-left: 50px;
				@include mq() {
					padding-left: 20px;
					width: 100%;
				}
				// h2{
				// 	img{
						
				// 		@include mq() {
				// 			width: 100%;
				// 		}
				// 	}
				// }
				h2{
					width: 100%;
					color: #000;
					font-size: 80.21px;
					line-height: 1;
					font-weight: bold;
					letter-spacing: 3.5px;
					position: relative;
					display: inline-block;
					margin-bottom: 50px;
					&:after{
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						bottom: 0;
						left: 10px;
						bottom: -40px;
						transform: translate(-50%, 80%);
						border-style: solid;
						border-width: 16px 15px 0 15px;
						border-color: #000 transparent transparent transparent;
						@include mq() {
							left: 10px;
							bottom: -20px;
							border-width: 8px 9px 0 9px;
						}
						@include mq(sp) {
							left: 10px;
							bottom: -10px;
							border-width: 4px 6px 0 6px;
						}
					}

					@media only screen and (max-width: 1130px){
						font-size: 60px;
					}

					@include mq() {
						font-size: 35px;
						margin-bottom: 20px;
					}
					@include mq(sp) {
						font-size: 30px;
					}
				}
				p{
					@extend .font_size_16;
					font-weight: bold;
					padding: 40px 0 25px;
					@include mq() {
						padding: 20px 0;
					}
				}
			}
			.btn2{
				width: 100%;
				display: inline-block;
				a{
					color: #000;
					padding: 27.5px 0;
					width: 303px;
					@extend .font_size_14;
					background: #fff;
					text-align: center;
					display: inline-block;
					box-sizing: border-box;
					text-decoration: none;
					border: 1px solid #000;
					@include mq() {
						width: 100%;
						padding: 15px 0;
					}
					&:hover{
						color: #fff;
						background: #000;
					}
				}
			}
		}
	}
}