@charset "utf-8";

// ------------ 会社概要 ------------

div.company {
	
	//company_profile
	.company_profile{
		margin: 150px 0 100px;
		position: relative;
		@include mq() {
			margin: 50px 0;
		}
		@include mq(sp) {
			margin: 30px 0;
		}
		@include mq(sp) {
			margin-top: 30px;
		}
		.c-profile3{
			@extend .wrapper;
			padding: 0 150px;
			@include mq() {
				padding: 0 50px;
			}
		}
		table {
			width: 100%;
			//margin: 0 150px;
			border-collapse: collapse;
			@include mq() {
				margin: 0;
			}
			th, td{
				color: #000;
				padding: 8px 0;
				@extend .font_size_16;
				vertical-align: top;
				@include mq(sp) {
					font-size: 12px;
					padding: 4px 0;
				}
			}
			th{
				width: 120px;
				text-align: left;
				font-weight: bold;
			}
			p{
				position: relative;
				display: inline-block;
				&:after{
					content: '';
					position: absolute;
					top: 50%;
					right: -14px;
					width: 0;
					height: 0;
					transform: translate(0, -50%);
					border-style: solid;
					border-width: 5px 0 5px 6px;
					border-color: transparent transparent transparent #000;
				}
			}
		}

	}

	//access
	.access_map{
		.drop_left{
			top: 30%;
		}
		.c-map{
			position: relative;
			margin: 100px 0 0;
			@include mq() {
				margin: 50px 0 0;
			}
			@include mq(sp) {
				margin: 30px 0 0;
			}

			&__inner{
				padding: 0 150px;
				@extend .wrapper;
				@include mq() {
					padding: 0 50px;
				}
				iframe{
					width: 100%;
					height: 500px;
					@include mq() {
						height: 250px;
					}
					@include mq(sp) {
						height: 100%;
					}
				}
			}
		}
		.c-access{
			padding: 0 150px;
			@extend .wrapper;
			@include mq() {
				padding: 0 50px;
			}
			h2{
				font-weight: bold;
			}
			h2, p{
				@extend .font_size_14;
				margin-top: 20px;
				@include mq() {
					margin-top: 10px;
				}
			}
		}
	}
}