@charset "utf-8";

// ------------ BASS ------------

html,
body {
	width: 100%;
	height: 100%;
	
	// PC display a minimum fixed width
	min-width: 1000px;
	margin: auto;
	
	@include mq() {
		min-width: inherit;
	}
}

body {
	background: #fff;
	font-family: "Noto Sans Japanese";
}


// ------------ BASS STYLE ------------

// Color of selected text
::selection { background: $main-color; color: #FFF; }
::-moz-selection { background: $main-color; color: #FFF; }


// Link setting
a {
	@extend .transitions;
	
	img {
		@extend .transitions;
	}
	
	&:hover img {
		opacity: 0.8;
	}
}

//BORDER 200px
div.border{
	hr{
		width: 200px;
		height: 1px;
		background: #bcbcb6;
		text-align: center;
		clear: both;
		border: none;
		border-top: 1px solid #bcbcb6;
		@include mq(sp) {
			width: 100px;
		}
	}
}


// clearfix
%clearfix {
	zoom:1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}


// Block element link
%a_block {
	width: 100%;
	height: 100%;
	display: block;
}


// Base content width
.wrapper {
	width: 95%;
	max-width: 1400px;
	min-width: 1000px;
	margin: auto;
	position: relative;
	
	// clearfix
	@extend %clearfix;
	
	@include mq() {
		min-width: inherit;
	}
}


// Link effect
.transitions {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	
	@include mq() {
		transition: all 0s ease;
		-webkit-transition: all 0s ease;
		-moz-transition: all 0s ease;
		-o-transition: all 0s ease;
	}
}

// Motion effect
.all_transitions {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

// Arrange in the top and bottom
.vertical {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}


// ------------ BASS STYLE ------------
