@charset "utf-8";

// ------------ BASS LAYOUT ------------

div#container { 
	width: 100%;
	height: 100%;
}

section.bg{
	width: 100%;
	background-image: url("/assets/img/common/bg.jpg");
	background-size: cover;
	@include mq() {
		background-size: 100% 100%;
	}
}



// ------------ CONTENT STYLE ------------





//stViewIndex
.stViewIndex{
	.key_visual{
		margin: 68px 0 60px;
		width: 100%;
		height: 100%;		
		position: relative;
		@include mq() {
			margin: 30px 0;
		}
		&__img{
			padding: 0 80px;	
			@include mq() {
				padding: 0 40px;
			}		
			img{
				width: 100%;
			}
		}
		&__logo{
			width: 100%;
			display: flex;
			justify-content: center;
			position: absolute;
			z-index: 1;
			bottom: 30px;	
			@include mq() {
				bottom: 15px;
			}
		}
	}
}


// drop_left
.drop_left{
	top: 50%;
	left: 30px;
	position: absolute;
	transform: translate(0, -50%);
	@include mq() {
		left: 15px;
	}
	img{
		@include mq() {
			width: 70%;
		}
	}
	a{
		text-decoration: none;
	}
}
// business
.business_content{
	position: relative;
	.c-list2{
		padding: 73px 100px 16px;
		@include mq() {
			padding: 30px 50px 10px;
		}
		ul{		
			width: 100%;
			display: flex;
			justify-content: space-between;
			@include mq(sp) {
				flex-wrap: wrap;
				display: block;
			}
			li{
				width: 49.1%;
				@include mq(sp) {
					width: 100%;
					margin-bottom: 20px;
				}
				img{
					width: 100%;
				}
			}
			h4{
				text-align: right;
				@extend .font_size_12;
				font-weight: bold;
				padding: 10px 0;
				letter-spacing: 1px;
				@include mq(sp) {
					padding: 0;
				}
			}
			.drop_text{
				width: 100%;
				margin-top: -78px;
				text-align: center;
				@media only screen and (max-width: 1130px){
					margin-top: -60px;
				}

				@include mq() {
					margin-top: -30px;
				}
				h2{
					width: 100%;
					color: #000;
					font-size: 80px;
					font-weight: bold;
					letter-spacing: 3.5px;
					position: relative;
					display: inline-block;
					&:after{
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						bottom: 0;
						left: 50%;
						transform: translate(-50%, 80%);
						border-style: solid;
						border-width: 0 15px 16px 15px;
						border-color: transparent transparent #000 transparent;
						@include mq() {
							border-width: 0 9px 8px 9px;
						}
					}

					@media only screen and (max-width: 1130px){
						font-size: 68px;
					}

					@include mq() {
						font-size: 35px;
					}
				}
			}
		}
	}
}


// c-classEMA
.c-classEMA{
	padding-top: 220px;
	text-align: center;
	@include mq() {
		padding-top: 50px;
	}
	&__inner{
		position: relative;
	}
	.EMA{
		@extend .wrapper;
		padding: 100px 150px 92px;
		height: 100%;	
		width: 100%;
		
		@include mq() {
			padding: 30px 55px;
		}
		&__img{	
			position: relative;	
			img{
				width: 100%;
			}
		}
		&__text{
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 23%;
			text-align: left;
			transform: translate(0%, -50%);
			
			h2{
				color: #bcbcb6;
				font-size: 58.85px;
				line-height: 1.3;
				font-weight: bold;
				letter-spacing: 2px;
				@include mq() {
					font-size: 30px;
				}
				@include mq(sp) {
					line-height: 1;
					font-size: 20px;
				}
			}
			a{
				color: #bcbcb6;
				font-size: 18.45px;
				font-weight: bold;
				letter-spacing: 1px;
				text-decoration: none;
				position: relative;
				display: inline-block;
				@include mq() {
					font-size: 15px;
				}
				@include mq() {
					font-size: 11px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					border-right: 1px solid #bcbcb6;
					border-bottom: 1px solid #bcbcb6;
					transform: rotate(-45deg);
					top: 40%;
					right: -20px;
					box-sizing: border-box;
					@include mq() {
						width: 7px;
						height: 7px;
						right: -10px;
					}
				}				
			}
		}
	}
}

// Drop down
.dropdownTop{
	width: 100%;
	display: inline-block;
	text-align: center;
}
// Logo
div.logo {
	padding: 50px 0;
	text-align: center;
	@include mq() {
		padding: 25px 0;
	}
	img {
		width: 80%;
		max-width: 180px;
		height: auto;
		margin: auto;
	}
}

//gnavfooter
div.gnavfooter{
	padding-bottom: 20px;
	@include mq() {
		padding-bottom: 10px;
	}
	ul{
		display: flex;
		justify-content: center;
		@include mq(sp) {
			flex-wrap: wrap;
		}
	}
	li{
		color: #000;
		margin: 0 9px;
		@include mq(sp) {
			margin: 0 9px;
		}
	}
	a {
		@extend .font_size_12;
		font-weight: bold;
		@include link-color(#000);		
	}
}


// 背景付きセクション
// section.background {
// 	width: 100%;
// 	background-position: center center;
// 	background-size: cover;
// 	// 背景画像の指定と幅はそれぞれのセクションに記載。

// 	article {
// 		position: absolute;
// 		height: 100%;
// 		@extend .wrapper;

// 		// コンテンツの表示域
// 		div.detail {
// 			width: 90%;
// 			max-width: 600px;
// 			position: absolute;
// 			text-align: left;
// 		}
		
// 		// コンテンツの配置
// 		div.left {
// 			top: 50%;
// 			left: 0;
// 			-webkit-transform: translate(0, -50%);
// 			transform: translate(0, -50%);

// 			@include mq() {
// 				left: 50%;
// 				-webkit-transform: translate(-50%, -50%);
// 				transform: translate(-50%, -50%);
// 			}
// 		}
		
// 		// コンテンツの配置
// 		div.right {
// 			top: 50%;
// 			right: 0;
// 			-webkit-transform: translate(0, -50%);
// 			transform: translate(0, -50%);

// 			@include mq() {
// 				left: 50%;
// 				-webkit-transform: translate(-50%, -50%);
// 				transform: translate(-50%, -50%);
// 			}
// 		}
// 	}
// }