@charset "utf-8";

// ------------ 下層ページのタイトル ------------

div.ema {
	
	// BASS LAYOUT
	main {
		
		section {

			article {

			}
		}
	}
	
	aside {
		
	}
	
	//st View
	div.stView{
		.main_visual{
			width: 100%;
			height: 100%;		
			position: relative;
			&__img{		
				img{
					width: 100%;
				}
			}
			&__logo{
				position: absolute;
				z-index: 1;
				left: 100px;
				top: 50%;
				transform: translate(0, -50%);
				@include mq() {
					left: 50px;
					img{
						width: 50%;
					}
				}
				@include mq(sp) {
					left: 15px;
					img{
						width: 25%;
					}
				}
				span{
					margin-top: 25px;
					color: #7b7b73;
					@extend .font_size_12;
					font-weight: bold;
					display: inline-block;
					@include mq(sp) {
						margin-top: 10px;
					}
				}
			}
		}
	}

	// Profile
	section.profile{
		margin-top: 95px;
		@extend .wrapper;

		@include mq() {
			margin-top: 50px;
			width: 100%;
		}
		// c-profile1
		div.c-profile1{
			margin: 0 17.5% 75px 21%;
			display: flex;
			justify-content: center;
			@include mq() {
				margin: 0 15px 30px;
			}
			&__left{
				img{
					margin: 5px 0 ;
					@include mq() {
						width: 100px;
					}
					@include mq(sp) {
						width: 50px;
					}
				}
			}
			&__right{
				padding-left: 50px;
				p{					
					color: #7b7b73;
					@extend .font_size_16;
					
				}
				@include mq() {
					padding-left: 20px;
					width: auto;
				}
			}
		}

		// c-listPhoto
		div.c-listPhoto{
			margin: auto;
			ul{
				margin: 55px 100px 90px;
				display: flex;
				flex-wrap: wrap;
				@include mq() {
					margin: 30px 15px 40px;
				}

			}
			li{
				margin: 2.1%;
				width: 29%;		
				@include mq() {
					margin: 1%;
					width: 31.3%;
				}		
				img{
					width: 100%;
				}
			}
		}
	}

	// SNS
	section.sns{
		@extend .wrapper;
		ul{
			margin: 80px 100px 100px;
			display: flex;
			flex-wrap: wrap;
			@include mq() {
				margin: 30px 15px 30px;
			}
			li{
				width: 45.8%;
				margin: 2.1%;
				@include mq() {
					width: 48%;
					margin: 1%;
				}
				img{
					width: 100%;
				}
			}
		}
	}
	// ボタン
	div.btn {
		width: 100%;
		display: inline-block;
		margin: auto;

		@include mq(sp) {
			min-width: inherit;
			display: block;
		}

		// リンク
		a {
			width: 100%;
			height: 100%;
			display: block;
			text-align: center;
			padding: 50px 20px;
			@extend .font_size_16;
			background-color: #bcbcb6;
			@include link-color(#FFF);	
			@include mq() {
				padding: 25px 20px;
			}
			@include mq(sp) {
				padding: 15px 20px;
			}	
			&:hover {
				color: #fff;
				background-color: #000;
				text-decoration: none;
			}
		}

		// 非リンク
		span {
			position: relative;
			padding: 0 10px;
			@include mq(sp) {
				padding: 0 5px;
			}
			&:after{
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				top: 50%;
				right: -10px;
				transform: translate(0%, -50%);
				border-style: solid;
				border-width: 7.5px 0 7.5px 9px;
				border-color: transparent transparent transparent #ffffff;
				@include mq(sp) {
					border-width: 5px 0 5px 6px;
				}
			}
		}
	}

}