@charset "utf-8";

// ------------ FOOTER ------------*/

footer {
	width: 100%;
	margin: auto;
	text-align: center;
	
	// ドキュメントリンク
	section.copyright {
		padding: 30px 0;
		background: #000;
		@include mq() {
			padding: 15px;
		}
		p {
			@extend .font_size_12;
			a{
				@include link-color(#fff);
			}
		}
	}
}
