@charset "utf-8";

// ------------ FORM ------------

// フォーム
div.form {
	
	// BASS LAYOUT
	main {
		
		section {
			text-align: center;
			
			// table
			table {
				width: 42%;
				min-width: 800px;
				margin: 25px auto 0;
				border-collapse: collapse;
				@include mq() {
					width: 100%;
					min-width: 100%;
				}	
				
				tr {
					&:last-child th,
					&:last-child td {
						border-bottom: none;
					}

					th,
					td {
						padding: 16px 0;
						@extend .font_size_14;
						text-align: left;
						vertical-align: top;
						border-bottom: 1px solid #000;
						@include mq() {
							width: 20%;
							padding: 8px 0;
						}
					}

					th {
						width: 37.5%;

						@include mq() {
							width: 20%;
							padding: 10px;
						}						
					}

					td {
						@include mq() {
							width: 100%;
							padding-left: 10px;
						}
					}
				}
			}

			p{
				@extend .font_size_14;
			}
			span.essential{
				color: #992124;
				font-weight: bold;
			}

			p.fz16{
				@extend .font_size_16;
				font-weight: bold;
				margin-bottom: 20px;
			}

			p.fz12{
				@extend .font_size_12;
			}

			div.c-link{
				a{
					color: #000;
					@extend .font_size_14;
					font-weight: bold;
					margin: 15px 0;
					display: inline-block;
					border-bottom: 1px solid #7f7f7f;
					text-decoration: none;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						width: 9px;
						height: 9px;
						border-right: 1px solid #000;
						border-bottom: 1px solid #000;
						transform: rotate(-45deg);
						top: 40%;
						right: -20px;
						box-sizing: border-box;
					}
				}
			}

			


			

			// チェックリストを並べる
			ul.check_list {
				width: 100%;

				li {
					float: left;
					padding: 5px 0;

					@media only screen and (max-width:1000px){
						width: 100%;
						float: none;
						padding: 0px ;
					}
				}
			}		
		}

		// ボタンを並べる
		ul.transmission {
			width: auto;
			text-align: center;
			margin: 20px auto 0 auto;
			display: table;

			@include mq(sp) {
				width: 95%;
				display: inherit;
			}

			li {
				display: table-cell;
				@include mq() {
					display: block;
					margin: 5px 0;
				}
			}
		}


		div.c-classEMA{
			//padding-top: 135px;
		}

		section.form_index{
			margin-top: 145px;
			@include mq() {
				margin-top: 50px;
				padding: 0 15px;
			}
			@include mq(sp) {
				margin-top: 30px;
			}
		}

		// form confirm
		section.confirm{
			margin-top: 140px;
			@include mq() {
				margin-top: 50px;
				padding: 0 15px;
			}
			@include mq(sp) {
				margin-top: 30px;
			}
			table{
				td{
					p{
						font-weight: bold;
					}
				}
			}
		}

		// form complete
		section.complete{
			width: 650px;
			margin: 145px auto 0;
			@include mq() {
				width: 100%;
				margin-top: 50px;
				padding: 0 15px;
			}
			@include mq(sp) {
				margin-top: 30px;
			}
			.c-title2{
				text-align: center;
				margin-bottom: 60px;
				@include mq() {
					margin-bottom: 20px;
				}
				@include mq(sp) {
					margin-bottom: 10px;
				}
			}
			h2, h3{
				@extend .font_size_16;
			}
			p{
				@extend .font_size_14;			}

			div.btn2{
				text-align: center;
				margin: 50px 0 0;
				display: inline-block;
				@include mq() {
					margin: 25px 0 0;
					width: 100%;
				}
				a{
					min-width: 303px;
					@extend .font_size_14;
					text-align: center;
					padding: 25px 20px;
					color: #000;
					border: 1px solid #000;
					cursor: pointer;
					display: inline-block;
					text-decoration: none;
					@include mq() {
						padding: 15px 10px;
					}
					@include mq(sp) {
						min-width: 100%;
						width: 100%;
					}
					&:hover{
						color: #fff;
						background-color: #000;
					}
				}
			}
		}
	}
}



div.err_area,
div.error_access {
	display: block;
	p {
		display: block;
		font-weight: bold;
		color: #992124;
		@extend .font_size_14;
	}
}