@charset "utf-8";

// ------------ COMMON HEADER ------------

header {
	width: 100%;
	
	div.inner {
		min-width: 1000px;
		margin: 47px auto 49px;
		@extend .wrapper;
		
		@include mq() {
			min-width: inherit;
			height: 55px;
			margin: 20px auto;
		}
	}
	
	// Logo
	h1 {
		width: auto;	
		a {
			display: block;
			width: 100%;
			height: 100%;					
			img {
				width: auto;
			}
		}
	}
}