@charset "utf-8";

// ------------ FORM BASS ------------
input,
select,
textarea,
search { 
	//font-family: $base-font-family;
	border: $border-color 1px solid;
	background-color: #FFF;
	-webkit-appearance: none;
	@extend .transitions;
	@extend .font_size_16;
}

input:hover,
select:hover,
textarea:hover,
search:hover { 
	@extend .transitions;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: 0;
	border-color:$main-color;
}

// IE
::-webkit-input-placeholder {  }
:-moz-placeholder {  }

// Chorme
::selection {
  color: #fff;
  background: #000;
}

input::selection,
textarea::selection {
  color: #000;
}


// ------------ INPUT STYLE ------------

input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	@include mq() {
		padding: 5px;
	}
}




// テキストエリア
textarea {
	width: 100%;
	height: 172px;
	padding: 10px;
	resize: vertical;
	@include mq() {
		padding: 5px;
		height: auto;
	}
}


// セレクト
select {
	width: 100%;
	padding: 10px 60px 10px 10px;
	background-image: url(/assets/img/common/input_select.png);
	background-position: right 10px center;
	background-size:15px 9px;
	vertical-align: middle;
	margin: 5px 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@include mq() {
		padding: 5px;
	}
}

// IE
select::-ms-expand { display: none; }


// ラジオボタン チェックボックス
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

	// 未選択時
	input[type="radio"] + label {
		padding: 7px 0px 7px 25px;
		margin: 2px 20px 2px 0px;
		display: inline-block;
		background-image: url(/assets/img/common/input_check_off.png);
		background-position: left 50%;
		background-size: 18px 18px;
		cursor: pointer;
	}

	// 選択時
	input[type="radio"]:checked + label {
		background-image: url(/assets/img/common/input_check_on.png);
		background-position: left 50%;
		background-size: 18px 18px;
	}


	// 未選択時
	input[type="checkbox"] + label {
		padding: 7px 0px 7px 25px;
		margin: 2px 20px 2px 0px;
		background-image: url(/assets/img/common/input_check_off.png);
		background-position: left 50%;
		background-size: 18px 18px;
		display: inline-block;
		cursor: pointer;
	}

	// 選択時
	input[type="checkbox"]:checked + label {
	 	background-image: url(/assets/img/common/input_check_on.png);
		background-position: left 50%;
		background-size: 18px 18px;
	}


// 送信ボタン
input[type="submit"],
input[type="reset"],
input[type="button"] {
	width: auto;
	min-width: 300px;
	text-align: center;
	padding: 23px 20px;
	margin: 0 5px;
	color: #000;
	border: 1px solid #000;
	cursor: pointer;
	@include mq() {
		padding: 15px 10px;
	}
	@include mq(sp) {
		min-width: 100%;
		width: 100%;
	}
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover { 
	color: #fff;
	background-color: #000;
}

// エラーエリア
div.error_area {
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding: 10px 0;
}

p#fm_ajax_message {
	font-weight: bold;
	color: $main-color;
	letter-spacing: 1px;
	@extend .font_size_14;
}