@charset "UTF-8";

// ブレークポイントの設定
$breakpoints: (
	'sp': 'screen and (max-width: 568px)',
	'tb': 'screen and (max-width: 768px)',
	'pc': 'screen and (max-width: 1280px)',
) !default;

@mixin mq($breakpoint: tb) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}


// リンクカラー
@mixin link-color($color) {
	color: $color;
	text-decoration: none;

	&:hover {
		color: lighten($color, 15%);
		text-decoration: underline;
	}
	
	&:visited {
		color: desaturate($color, 50%);
	}
}
 

// border-radius
// @mixin radius($size) {
// 	@include border-radius($size + px);
// }

@mixin border-radius-per($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
} // @include border-radius-per(100%);


// Position
@mixin abs-position ($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}