@charset "utf-8";

// ------------ NAV LAYOUT ------------

nav.gnav {
	margin: auto;
	position: absolute;
	right: 0;
	@extend .vertical;
		
	@include mq() {
		right: 0;
		display: none;
		-webkit-transform: none;
		transform: none;
	}
	
	// 折りたたみ時
	@include mq() {
		position: fixed;
		z-index: 15;
		top: 0;
		overflow: hidden;
		width: 16.25rem;
		height: 100%;
		background-color: #fff;
	}

	ul {		
		// clearfix
		@extend %clearfix;
		
		// 折りたたみ時
		@include mq() {
			width: 100%;
			padding: 20px 0;
		}		

		li {
			float: left;
			&:last-child{
				a{
					padding: 0 0 0 15px;
					@include mq() {
						padding: 20px 0 20px 15px;
					}
				}
			}
			// 折りたたみ時
			@include mq() {
				width: 100%;
				float: none;
			}
			
			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 0px 15px;
				font-size: 14px;
				font-weight: bold;
				@include link-color(#000);
				
				// 折りたたみ時
				@include mq() {
					padding: 15px;
					border-bottom: #ececec 1px solid;
				}
			}
		}
	}

	&--index{
		margin-top: 20px;
		position: static;
		left: 0;
		-webkit-transform: translate(0%, 0);
		transform: translate(0%, 0);
		display: inline-block;
		// 折りたたみ時
		@include mq() {
			position: fixed;
			display: none;
			z-index: 15;
			margin-top: 0;
			right: 0;
			top: 0;
			left: auto;
			overflow: hidden;
			width: 16.25rem;
			height: 100%;
			background-color: #fff;
			-webkit-transform: none;
			transform: none;
		}
		ul{
			// clearfix
			//@extend %clearfix;

			// 折りたたみ時
			@include mq() {
				width: 100%;
				padding: 20px 0;
			}
			li{
				float: none;
				// 折りたたみ時
				@include mq() {
					width: 100%;
				}
				a{
					padding: 0;
					line-height: 2.5;
					letter-spacing: 1.5px;
					// 折りたたみ時
					@include mq() {
						display: block;
						padding: 15px;
						border-bottom: #ececec 1px solid;
					}
				}
				&:last-child{
					a{
						padding: 0;
						@include mq() {
							padding: 20px 0 20px 15px;
						}
					}
				}
			}
		}
	}

	
}

