@charset "utf-8";

// ------------ 下層ページのタイトル ------------

div.privacy {
	
	// BASS LAYOUT
	main {
		
		section {

			article {

			}
		}
	}
	
	aside {
		
	}
	
	// privacy_txt
	.privacy_txt{
		@extend .wrapper;
		padding: 100px 150px 0;
		@include mq() {
			padding: 40px 0 15px;
		}
		@include mq(sp) {
			padding: 20px 0 15px;
		}
		h2{
			@extend .font_size_16;
			font-weight: bold;
		}
		span{
			color: #000;
			font-weight: bold;
		}
		p{
			@extend .font_size_12;
			margin-top: 24px;
			@include mq() {
				margin-top: 10px;
			}
		}
	}
}