@charset "UTF-8";

// ---- テーマの基本スタイル ----

// メインカラー
$main-color: #00a6d2;

// 標準背景色
$bg-color: #EEEEEE;

// 標準フォントカラー
$base-font-color: #444444;

// リンクカラー
$color-link: #666666;
$color-link-hover: #CCCCCC;

// フォント指定
//$base-font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", 'Roboto', sans-serif;

// 標準ボーダーカラー
$border-color: #CCCCCC;

// ボックス
$box: #e1e1e1;


// ---- レイアウト系 ----

// PC版wrapperの横幅
$width-wraper: 1100px;