@charset "utf-8";

//@import "compass";

//リセット
@import"_reset.scss";

//ミックスイン
@import"_mixin.scss";

//変数
@import"_variable.scss";

//調整
@import"_adjust.scss";

//共通
@import"_common.scss";


@media (min-width: 769px) {
	.sp-only {
		display: none;
	}
}

@include mq(){
	.pc-only {
		display: none;
	}
	// img{
	// 	max-width: 100%;
	// 	height: auto;
	// }
}

//ヘッダー
@import"_header.scss";

//ナビ
@import"_nav.scss";

//フッター
@import"_footer.scss";

//パーツごとの記述
@import"_content.scss";



//下層
@import"_company.scss";
@import"_doc.scss";
@import"_ema-id6.scss";
@import"_business.scss";
@import"_privacy.scss";

//フォーム
@import"_form.scss";
@import"_input.scss";

//WP
@import"_wp.scss";

//プラグイン
@import"_drawer.scss";